@import "../../styles/less/variables.less";

.driver-photo {
  height: 100%;
  width: 100%;
}
.driver-teammates-driver {
  margin: 0.25em 0;
}

.driver-teammates-cell-size {
  width: 150px;
  padding: 0.5em 0 !important;
  background: @color-quinary !important;
  color: @font-color-inverted !important;
}

.driver-teammates-gp {
  width: 100%;
  border-collapse: collapse;

  th {
    border: 1px solid #c4c4c4;
    background: #656565;
    color: @font-color-inverted;
    padding: 0.25em;
  }

  td {
    border: 1px solid #c4c4c4;
  }
}

.driver-teammates-gp-place {
  text-align: center;
  width: 30px;
}

.no-border {
  border: none !important;
}
