@import "../../styles/less/variables.less";

.contest-rate {
  .row {
    margin-bottom: 0.5rem;
  }
}

.contest-rate-gp-photo {
  height: fit-content;
  width: 100%;
}

.pp-countdown,
.gp-countdown {
  color: red;
}