@import "../../styles/less/variables.less";

#contest {
  .contest-header {
    position: relative;
    padding: @header-padding;
    background: @header-background-tertiary;

    h2 {
      font-family: @font-family-header;
      font-size: 2.5rem;
      color: @color-secondary;
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    h3 {
      font-family: @font-family-header;
      font-size: 1.5rem;
      color: @font-color-inverted;
      margin: 0 0 0 0;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      width: 100%;
    }
  }

  .contest-banner {
    img {
      object-fit: cover;
    }

    @media only screen and (min-width: @verySmallMobile) and (max-width: @mobileBreakpoint) {
      //male
      img {
        height: @section-header-height-small-mobile !important;
      }
    }
    @media only screen and (min-width: @mobile) and (max-width: @tabletBreakpoint) {
      // iphone 4, 5, 6,7,8,X
      img {
        height: @section-header-height-mobile !important;
      }
    }
    @media only screen and (min-width: @widescreenMonitor) {
      //1920
      img {
        height: 10vw !important;
      }
    }
    .contest-banner-pic {
      width: 100%;
    }
  }

  .contest-content {
    line-height: normal;
    overflow: hidden;

    .contest-results-header {
      color: @font-color-inverted;
      background: @header-background-secondary;
      padding: 0.5rem;
      margin: 0;
      font-family: @font-family-header;
      font-size: @section-header-font-size;
    }
    .contest-results-container {
      background: @font-color-inverted;
      padding: 0.25em;
      .extra {
        color: @font-color;
      }
    }

    .contest-class-gp-header {
      color: @font-color-inverted;
      background: @header-background-tertiary;
      padding: 0.5rem;
      margin: 0;
      font-family: @font-family-header;
      font-size: @section-header-font-size;
    }
    .contest-class-gp-container {
      background: @color-quaternary;
      padding: 0.25em;
      .extra {
        color: @font-color;
      }
    }

    .contest-class-header {
      color: @font-color-inverted;
      background: @color-primary;
      padding: 0.5rem;
      margin: 0;
      font-family: @font-family-header;
      font-size: @section-header-font-size;
    }
    .contest-class-container {
      background: @header-background-senary;
      padding: 0.25em;
      .extra {
        color: @font-color;
      }
    }

    .contest-info {
      img {
        width: 50vh;
        padding-bottom: 0em;
        margin: 0 auto;
      }
    }
    .ui[class*="right floated"].statistic {
      margin-left: 0.5rem;
      white-space: nowrap;
    }
    .small {
      display: inline-block;
      font-size: 0.8rem;
      line-height: 1rem;
      margin: 0;
      padding: 0;
    }
  }

  @media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
    p {
      font-size: 0.4em;
      margin-bottom: 1em;
    }
    .contest-jumbotron {
      padding: 0em 0.5em 0 0.5em;
      div {
        margin-top: 0.5em;
        a {
          padding: 0.2em 0.3em;
        }
      }
    }
    .contest-header {
      h2 {
        font-size: @section-header-font-size-very-small-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-very-small-mobile;
      }
    }
    .contest-content {
      .contest-results-header {
        padding: 0.5rem;
        font-size: @section-header-font-size-very-small-mobile;

        .sub.header {
          font-size: @section-subheader-font-size-very-small-mobile;
        }
      }
      .contest-results-container {
        transform: initial;
      }
      .contest-class-header {
        padding: 0.5rem;
        font-size: @section-header-font-size-very-small-mobile;

        .sub.header {
          font-size: @section-subheader-font-size-very-small-mobile;
        }
      }
      .contest-class-container {
        transform: initial;
      }
      .contest-class-gp-header {
        padding: 0.5rem;
        font-size: @section-header-font-size-very-small-mobile;
        margin-right: 0;

        .sub.header {
          font-size: @section-subheader-font-size-very-small-mobile;
        }
      }
      .contest-class-gp-container {
        transform: initial;
      }
      .contest-info {
        img {
          padding-bottom: 2em;
        }
      }
    }
  }
  @media only screen and (min-width: @smallMobile) and (max-width: @tabletBreakpoint) {
    p {
      font-size: 0.4em;
      margin-bottom: 1em;
    }
    .contest-jumbotron {
      padding: 0em 0.5em 0 0.5em;
      div {
        margin-top: 0.5em;
        a {
          padding: 0.2em 0.3em;
        }
      }
    }
    .contest-header {
      h2 {
        font-size: @section-header-font-size-small-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-small-mobile;
      }
    }
    .contest-content {
      .contest-results-header {
        padding: 0.5rem;
        font-size: 1.5rem;

        .sub.header {
          font-size: 1.25rem;
        }
      }
      .contest-results-container {
        transform: initial;
      }
      .contest-class-header {
        padding: 0.5rem;
        font-size: 1.5rem;

        .sub.header {
          font-size: 1.25rem;
        }
      }
      .contest-class-container {
        transform: initial;
      }
      .contest-class-gp-header {
        padding: 0.5rem;
        font-size: 1.5rem;
        margin-right: 0;

        .sub.header {
          font-size: 1.25rem;
        }
      }
      .contest-class-gp-container {
        transform: initial;
      }
      .contest-info {
        img {
          padding-bottom: 2em;
        }
      }
    }
  }
  @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
    .contest-header {
      h2 {
        font-size: @section-header-font-size-tablet;
      }
      h3 {
        font-size: @section-subheader-font-size-tablet;
      }
    }
    .contest-content {
      .contest-results-header {
        padding: 0.5rem;
        font-size: 1.2rem;

        .sub.header {
          font-size: 1rem;
        }
      }

      .contest-class-header {
        padding: 0.5rem;
        font-size: 1.2rem;

        .sub.header {
          font-size: 1rem;
        }
      }

      .contest-class-gp-header {
        padding: 0.5rem;
        font-size: 1.2rem;

        .sub.header {
          font-size: 1rem;
        }
      }

      .contest-info {
        img {
          padding-bottom: 2em;
        }
      }
    }
  }
}
