@import '../../styles/less/variables.less';

.teams-stats-header{
  font-size: 2rem;
  display: inline-block;
  margin: 0.5em 0;
}
.team-logo {
  max-width: 100% !important;
}
@media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
  .teams-stats-header{
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
  .teams-stats-header{
    font-size: 2rem;
  }
}

.teams-stats-letters{
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  flex-wrap: wrap;
  justify-content: center;
  background: @color-tertiary !important;

  a.active{
    color: @link-color-secondary;
    opacity: 1;
  }
}

@media only screen and (min-width: 240px) and (max-width: @computerBreakpoint) {
  .teams-stats-letters {
    a {
      font-size: 1rem;
    }
  }
}

.teams-stats-countries{
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  flex-wrap: wrap;
  justify-content: center;
  background: @color-tertiary !important;
  
  a.active{
    color: @link-color-secondary;
    opacity: 1;
  }
}
