@import '../../styles/less/variables.less';

.parallax-bg {
  height: 25vmax;
}

@media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) {
  .parallax-bg {
    height: 18vmax;
  }
}
@media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
  .parallax-bg {
    height: 21vmax;
  }
}
