@import "../../styles/less/variables.less";

.events-filters {
  background: linear-gradient(180deg, @color-senary 25%, @header-background-tertiary 100%);
  margin: 0em;
  padding: 0em 0.5em;
  color: white;
}
