<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Formula One World 2025 - Statystyki F1</title>
    <meta
      name="Description"
      content="Formula 1 - Szczegółowe statystyki F1, historia formuły 1 oraz konkurs typowania najlepszych zawodników poszczególnych Grand Prix F1."
    />
    <meta
      name="keywords"
      content="Formula, Formula 1, Formuła 1, F1, Grand Prix, Verstappen, Norris, Piastri, Bearman, Antonelli, Leclerc, Russell, Hamilton, Vettel, Schumacher, Kubica, Alonso, Ferrari, Mercedes, Red Bull, Wiliams, McLaren"
    />
    <meta name="robots" content="all, max-image-preview:large"/>

    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />

    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.co" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />

    <!-- <link
      rel="prefetch"
      as="font"
      href="/build/fonts/brand-icons.woff2"
      crossorigin
    />
    <link
      rel="prefetch"
      as="font"
      href="/build/fonts/icons.woff2"
      crossorigin
    /> -->

    <!--link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,600"-->
    <!--link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,600"-->
    <link
      rel="preload"
      href="https://fonts.gstatic.com/s/sairaextracondensed/v5/-nFiOHYr-vcC7h8MklGBkrvmUG9rbpkisrTj5kj09ihssla3.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="https://fonts.gstatic.com/s/sairaextracondensed/v5/-nFiOHYr-vcC7h8MklGBkrvmUG9rbpkisrTj6Ej09ihssg.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="https://fonts.gstatic.com/s/sairaextracondensed/v5/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrN2zh1QphmGy-oO3K.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="https://fonts.gstatic.com/s/sairaextracondensed/v5/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrN2zh2wphmGy-oA.woff2"
      as="font"
      crossorigin
    />

    <!-- Google Tag Manager -->
    <!-- <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KBXQHJPQ");
    </script> -->
    <!-- End Google Tag Manager -->

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6611514323676676" crossorigin="anonymous">
    </script>
    <style>
      @font-face {
        font-family: "Good Times Rg-Regular";
        src: url("/build/fonts/good-times-rg-regular.otf") format("opentype");
      }
      /* latin-ext */
      @font-face {
        font-family: "Saira Extra Condensed";
        font-style: normal;
        font-weight: 400;
        src: local("Saira ExtraCondensed Regular"),
          local("SairaExtraCondensed-Regular"),
          url(https://fonts.gstatic.com/s/sairaextracondensed/v5/-nFiOHYr-vcC7h8MklGBkrvmUG9rbpkisrTj5kj09ihssla3.woff2)
            format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      /* latin */
      @font-face {
        font-family: "Saira Extra Condensed";
        font-style: normal;
        font-weight: 400;
        src: local("Saira ExtraCondensed Regular"),
          local("SairaExtraCondensed-Regular"),
          url(https://fonts.gstatic.com/s/sairaextracondensed/v5/-nFiOHYr-vcC7h8MklGBkrvmUG9rbpkisrTj6Ej09ihssg.woff2)
            format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }
      /* latin-ext */
      @font-face {
        font-family: "Saira Extra Condensed";
        font-style: normal;
        font-weight: 600;
        src: local("Saira ExtraCondensed SemiBold"),
          local("SairaExtraCondensed-SemiBold"),
          url(https://fonts.gstatic.com/s/sairaextracondensed/v5/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrN2zh1QphmGy-oO3K.woff2)
            format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      /* latin */
      @font-face {
        font-family: "Saira Extra Condensed";
        font-style: normal;
        font-weight: 600;
        src: local("Saira ExtraCondensed SemiBold"),
          local("SairaExtraCondensed-SemiBold"),
          url(https://fonts.gstatic.com/s/sairaextracondensed/v5/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrN2zh2wphmGy-oA.woff2)
            format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KBXQHJPQ"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript> -->
    <!-- End Google Tag Manager (noscript) -->
    <div id="app"></div>
    <script
      async
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-3837360-4"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-3837360-4");
    </script>
    <noscript>
      Strona Formula One World 2025 wymaga włączonej obsługi Java Script.
    </noscript>
  </body>
</html>
