@import "../../styles/less/variables.less";

#contest-countdown {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
  color: @font-color;
  line-height: initial;
  width: 100%;
  padding: 0.5rem 0;
}
@media only screen and (min-width: @verySmallMobile) and (max-width: @mobileBreakpoint) {
  #contest-countdown {
    font-size: 1rem;
  }
}
@media only screen and (min-width: @mobile) and (max-width: @tabletBreakpoint) {
  #contest-countdown {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
  #contest-countdown {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
  #contest-countdown {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: @widescreenMonitor)  {
  #contest-countdown {
    font-size: 1.75rem;
  }
}
