@import "../../styles/less/variables.less";

.records-widget-header {
  position: relative;
  padding: @header-padding;
  background: @header-background-secondary;

  h2 {
    font-family: @font-family-header;
    font-size: 2.5rem;
    color: @header-color;
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  h3 {
    font-family: @font-family-header;
    font-size: 1.5rem;
    color: @subheader-color;
    margin: 0 0 0 0;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    width: 100%;
  }

  @media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
    h2 {
      font-size: @section-header-font-size-very-small-mobile;
    }
    h3 {
      font-size: @section-subheader-font-size-very-small-mobile;
    }
  }
  @media only screen and (min-width: @smallMobile) and (max-width: @tabletBreakpoint) {
    h2 {
      font-size: @section-header-font-size-small-mobile;
    }
    h3 {
      font-size: @section-subheader-font-size-small-mobile;
    }
  }
  @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
    h2 {
      font-size: @section-header-font-size-tablet;
    }
    h3 {
      font-size: @section-subheader-font-size-tablet;
    }
  }
}
.records-widget-content {
  margin-top: 0;
}
.records-widget-drivers {
  margin-right: 0 !important;
}
.records-widget-teams {
  margin-left: 0.125rem !important;
}
