@import 'variables.less';
.bg-circuit-singapore {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -130px -10px;
}
.bg-circuit-sochi {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -370px -250px;
}
.bg-circuit-spa-francorchamps {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -10px -130px;
}
.bg-circuit-spielberg {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -130px -130px;
}
.bg-circuit-suzuka {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -250px -10px;
}
.bg-circuit-yas-marina {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -250px -130px;
}
.bg-circuit-silverstone {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -10px -250px;
}
.bg-circuit-austin {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -130px -250px;
}
.bg-circuit-baku {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -250px -250px;
}
.bg-circuit-barcelona {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -370px -10px;
}
.bg-circuit-shanghai {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -370px -130px;
}
.bg-circuit-sakhir {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -10px -10px;
}
.bg-circuit-monza {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -10px -370px;
}
.bg-circuit-montreal {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -130px -370px;
}
.bg-circuit-monte-carlo {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -250px -370px;
}
.bg-circuit-mexico-city {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -370px -370px;
}
.bg-circuit-melbourne {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -490px -10px;
}
.bg-circuit-le-castellet {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -490px -130px;
}
.bg-circuit-kuala-lumpur {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -490px -250px;
}
.bg-circuit-interlagos {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -490px -370px;
}
.bg-circuit-hockenheim {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -10px -490px;
}
.bg-circuit-budapeszt {
    background: url('/../../images/circuits/circuits_sprites_100w.jpg') -130px -490px;
}
