@import 'variables.less';
.bg-team-fci {
    background: url('/../../images/teams/teams_sprites_100w.jpg') -15px -15px;
}
.bg-team-fer {
    background: url('/../../images/teams/teams_sprites_100w.jpg') -135px -15px;
}
.bg-team-haa {
    background: url('/../../images/teams/teams_sprites_100w.jpg') -18px -135px;
}
.bg-team-mcl {
    background: url('/../../images/teams/teams_sprites_100w.jpg') -143px -135px;
}
.bg-team-mer {
    background: url('/../../images/teams/teams_sprites_100w.jpg') -255px -15px;
}
.bg-team-red {
    background: url('/../../images/teams/teams_sprites_100w.jpg') -255px -135px;
}
.bg-team-ren {
    background: url('/../../images/teams/teams_sprites_100w.jpg') -15px -254px;
}
.bg-team-sau {
    background: url('/../../images/teams/teams_sprites_100w.jpg') -136px -255px;
}
.bg-team-str {
    background: url('/../../images/teams/teams_sprites_100w.jpg') -255px -255px;
}
.bg-team-wil {
    background: url('/../../images/teams/teams_sprites_100w.jpg') -375px -15px;
}
