@import 'variables.less';
.bg-driver-12 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -135px -10px;
}
.bg-driver-570 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -375px -130px;
}
.bg-driver-933 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -15px -130px;
}
.bg-driver-936 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -135px -130px;
}
.bg-driver-943 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -255px -10px;
}
.bg-driver-945 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -255px -130px;
}
.bg-driver-953 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -15px -250px;
}
.bg-driver-955 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -135px -250px;
}
.bg-driver-959 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -255px -250px;
}
.bg-driver-963 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -375px -10px;
}
.bg-driver-965 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -15px -10px;
}
.bg-driver-969 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -375px -250px;
}
.bg-driver-970 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -15px -370px;
}
.bg-driver-977 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -135px -370px;
}
.bg-driver-976 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -255px -370px;
}
.bg-driver-978 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -375px -370px;
}
.bg-driver-980 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -495px -10px;
}
.bg-driver-981 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -495px -130px;
}
.bg-driver-983 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -495px -250px;
}
.bg-driver-982 {
    background: url('/../../images/drivers/drivers_sprites_100w.jpg') -495px -370px;
}
