@import "variables.less";
// html {
//   scroll-behavior: smooth;
// }
body {
  background: #e9e9e9;
}
#app {
  max-width: @max-resolution;
  margin: 0 auto;
  background: @header-background-primary;
}
.inline-block {
  display: inline-block !important;
}
.block {
  display: block !important;
}
.vertical-middle-aligned {
  vertical-align: middle !important;
}
.vertical-top-aligned {
  vertical-align: top !important;
}
.vertical-bottom-aligned {
  vertical-align: bottom !important;
}
.bottom-aligned {
  align-self: flex-end;
}
.center-aligned {
  text-align: center !important;
  margin: 0 auto !important;
  justify-content: center !important;
}
.left,
.left-aligned {
  text-align: left !important;
}
.right,
.right-aligned {
  text-align: right !important;
}
.right-floated {
  float: right !important;
}
.no-wrap {
  white-space: nowrap !important;
}
.no-padding {
  padding: 0 !important;
}
.no-background {
  background-color: #FFFFFF !important;
}
.overflow {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.overflow-mobile {
  @media only screen and (max-width: @tabletBreakpoint) {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}
.hover {
  cursor: pointer;
}
.fluid {
  width: 100% !important;
}
.red {
  color: red;
}
.marked {
  color: @marked-text-color;
  a {
    color: @marked-text-color;
  }
}
.summary {
  background: #fcebad !important;
}
.bold-uppercase {
  font-weight: 600;
  text-transform: uppercase !important;
}
.bold {
  font-weight: 600 !important;
}
.error {
  div input {
    background: #fef6f6 !important;
    border: 1px solid #e0b3b4 !important;
  }
}
.error-select > div {
  background: #fef6f6;
  border: 1px solid #e0b3b4;
  div {
    color: #912d2b;
  }
}
.ui.input input .box-divider {
  border-bottom: 1px solid @color-primary;
}
@media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) {
  .hideMobile {
    display: none !important;
  }
}
@media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
  .hideTablet {
    display: none !important;
  }
}
@media only screen and (min-width: @computer) {
  .hideDesktop {
    display: none !important;
  }
}
.hide {
  display: none !important;
}
.transparent {
  background: none !important;
}
.full-height {
  height: 100vh !important;
  padding-top: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: @link-color;
  display: inline;
  
  &:hover {
    color: @link-active-color;
  }
}
.image-link {
  margin: 0 0.25em 0 0;
  display: inline-block;
  height: auto;
}
// 240
@media only screen and (min-width: @verySmallMobile) and (max-width: @mobileBreakpoint) {
  .image-link {
    margin: 0 0.25em 0 0;
  }
}
a.primary {
  color: @font-color-inverted;
  background: @color-secondary;
  border: 1px solid @color-secondary;
  font-size: @button-font-size;
  font-weight: 600;
  margin: 0.125em 0.25em 0 0;
  padding: @button-padding;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.1rem;
  border-radius: 0.25rem;
  min-width: 100px;

  &:hover {
    color: @font-color;
    background: @color-primary;
    border: 1px solid @color-primary;
  }
}
a.secondary {
  color: @font-color;
  background: @color-primary;
  border: 1px solid @color-primary;
  font-size: @button-font-size;
  font-weight: 600;
  margin: 0.125em 0.25em 0 0;
  padding: @button-padding;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.1rem;
  border-radius: 0.25rem;
  min-width: 100px;

  &:hover {
    color: @font-color-inverted;
    background: @color-secondary;
    border: 1px solid @color-secondary;
  }
}
a.tertiary {
  color: @font-color-inverted;
  background: @color-secondary;
  border: 1px solid @color-secondary;
  font-size: @button-font-size;
  font-weight: 600;
  margin: 0.125em 0.25em 0 0;
  padding: @button-padding;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.1rem;
  border-radius: 0.25rem;
  min-width: 100px;

  &:hover {
    color: @font-color;
    background: @color-septenary;
    border: 1px solid @color-septenary;
  }
}
a.quaternary {
  color: @font-color-inverted;
  background: #bf1b0e;
  border: 1px solid #bf1b0e;
  font-size: @button-font-size;
  font-weight: 600;
  margin: 0.125em 0.25em 0 0;
  padding: @button-padding;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.1rem;
  border-radius: 0.25rem;
  min-width: 100px;

  &:hover {
    color: #fff;
    border: 1px solid @color-secondary;
    background: @color-secondary;
  }
}
a.link {
  color: rgba(0, 0, 0, 0.6);
  &:hover {
    color: #000;
  }
}
// 240
@media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
  a.primary,
  a.secondary,
  a.tertiary,
  a.quaternary
   {
    font-size: 0.8rem;
    // line-height: 1.125rem;
    padding: 0em 0.5em;
    min-width: 50px;
  }
}
// 320 - 767
@media only screen and (min-width: @smallMobile) and (max-width: @tabletBreakpoint) {
  a.primary,
  a.secondary,
  a.tertiary,
  a.quaternary
   {
    font-size: 1rem;
    // line-height: 1.125rem;
    padding: 0em 0.75em;
    min-width: 75px;
  }
}
// 768 - 991
@media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
  a.primary,
  a.secondary,
  a.tertiary,
  a.quaternary
   {
    font-size: 0.85rem;
    padding: 0.125em 0.75em;
    min-width: 75px;
  }
}
// 992 - 1919
@media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
  a.primary,
  a.secondary,
  a.tertiary,
  a.quaternary
   {
    font-size: 1rem;
    padding: 0.125em 0.75em;
  }
}
// 1920
@media only screen and (min-width: @widescreenMonitor) {
  a.primary {
    font-size: 1.25rem;
  }
  a.secondary {
    font-size: 1.25rem;
  }
  a.tertiary {
    font-size: 1.25rem;
  }
  a.quaternary {
    font-size: 1.25rem;
  }
}

picture {
  width: 100%;
  display: flex;
}

// naglowek sekcji
.section-page {
  padding-top: 6.5rem;
  padding-bottom: 0em;

  .section-page-info {
    background: @header-background-tertiary;
    width: 100%;
    color: @font-color;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em 0em;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;

    // iphone 4
    @media only screen and (min-width: @verySmallMobile) and (max-width: @largeMobileBreakpoint) {
      font-size: 1rem;
      padding: 0.25em 0em;
    }
    // iphone 6,7,8,x
    @media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
      font-size: 1.25rem;
      padding: 0.25em 0em;
    }
    // ipad
    @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
      padding: 0.75em 0em;
      font-size: 1.25rem;
      height: 100%;
    }
    // desktop small
    @media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
      padding: 0.75em 0em;
      font-size: 1.125rem;
      height: 100%;
    }
    @media only screen and (min-width: @largeMonitor) and (max-width: @wideScreenMonitorBreakpoint) {
      padding: 0.75em 0em;
      font-size: 1.25rem;
      height: 100%;
    }
  }

  .section-page-info-header {
    background: @color-secondary;
    color: @font-color;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4em 0.5em 0.5em 0.5em;
    font-size: 2.5rem;
    position: absolute;
    z-index: 1;
    margin-top: 1em;
    right: 0;

    @media only screen and (min-width: @verySmallMobile) and (max-width: @largeMobileBreakpoint) {
      font-size: 0.8em;
      padding: 0 0.5em;
    }
    @media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
      font-size: 1em;
      padding: 0 0.5em;
    }
    @media only screen and (min-width: @widescreenMonitor) {
      font-size: 3.5em;
      padding: 0.4em 0.5em 0.5em 0.5em;
    }
  }

  .section-page-banner {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-top: 0;

    img {
      object-fit: cover;
      width: 100%;
      height: 25vw !important;
    }
  }

  .section-page-banner-text {
    background: @color-septenary;

    .box1 {
      background: @color-septenary;
    }
    .box2 {
      background: @header-background-secondary;
    }

    h2 {
      font-size: 1.5rem;
      text-transform: uppercase;
      display: inline-block;
      padding: 0;
      margin: 0.5rem 0;
      text-align: center;

      & + div {
        margin-top: 1em;
      }
    }
    h3 {
      font-size: 1.5rem;
      color: @font-color-inverted;
      margin: 0.5rem 0;
      padding-left: 1rem;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
    }
    h4 {
      font-size: 2vw;
      font-weight: 600;
      color: @font-color-inverted;
      text-shadow: 2px 2px #656565;
      margin: 0;
    }
    div.ui.grid {
      width: 100%;
    }
    i.massive.icon {
      font-size: 5vw;
      @media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) {
        font-size: 6vw;
      }
    }
    @media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
      h2 {
        font-size: 1.125rem;
        line-height: normal;
        margin: 0.25em;
      }
      h3 {
        font-size: 1rem;
        margin: 0.25em 0;
        display: block;
        padding: 0;
      }
    }
    @media only screen and (min-width: @smallMobile) and (max-width: @mobileBreakpoint) {
      h2 {
        font-size: 1.125rem;
        line-height: normal;
        margin: 0.25em;
      }
      h3 {
        font-size: 1rem;
        margin: 0.25em 0;
        display: block;
        padding: 0;
      }
    }
    @media only screen and (min-width: @mobile) and (max-width: @largeMobileBreakpoint) {
      h2 {
        font-size: 1.25rem;
        line-height: normal;
        margin: 0.25em;
      }
      h3 {
        font-size: 1.125rem;
        margin: 0.25em 0;
        display: block;
        padding: 0;
      }
    }
    @media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
      h2 {
        font-size: 1.5rem;
        margin: 0.25em 0;
      }
      h3 {
        font-size: 1.25rem;
        margin: 0.25em 0;
        display: block;
        padding: 0;
      }
    }
    @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
      h2 {
        font-size: 1.25rem;
        margin: 0.75rem 0;
      }
      h3 {
        font-size: 1.125rem;
        margin: 0.75rem 0;
      }
    }
    @media only screen and (min-width: @largeMonitor) and (max-width: @wideScreenMonitorBreakpoint) {
      h2 {
        font-size: 1.5rem;
        margin: 0.5rem 0;
      }
      h3 {
        font-size: 1.5rem;
        margin: 0.5rem 0;
      }
    }
  }

  .section-page-filters {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.75em 0.5em;

    label {
      padding: 0.5em 0;
      line-height: 2rem;
    }
  }

  .section-page-header,
  .section-page-header-secondary,
  .section-page-header-tertiary,
  .section-page-header-quaternary,
  .section-page-header-quinary {
    position: relative;
    padding: 0;
  }

  .section-page-header {
    h2 {
      font-size: @section-header-font-size;
      color: @font-color;
      background: @color-septenary;
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      padding: 0.25rem 1rem;
      margin: 0;
      text-align: center;
    }
    h3 {
      font-size: @section-subheader-font-size;
      color: @font-color-inverted;
      background: @color-quinary;
      margin: 0 0 0.5rem 0;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      width: 100%;
    }
    @media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) {
      h2 {
        font-size: 1rem;
      }
      h3 {
        font-size: 1rem;
      }
    }
    @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
      h2 {
        font-size: 1.125rem;
      }
      h3 {
        font-size: 1.125rem;
      }
    }
  }

  .section-page-header-secondary {
    border-bottom: 4px solid @header-background-senary;

    h2 {
      font-size: @section-header-font-size;
      color: @font-color-inverted;
      background: @color-quinary;
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      padding: 0.25rem 1rem;
      margin: 0;
      text-align: center;
    }
    h3 {
      font-size: @section-subheader-font-size;
      color: @font-color-inverted;
      background: @color-quinary;
      margin: 0 0 0.5rem 0;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      width: 100%;
    }

    @media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) {
      h2 {
        font-size: 1rem;
      }
      h3 {
        font-size: 1rem;
      }
    }
    @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
      h2 {
        font-size: 1.125rem;
      }
      h3 {
        font-size: 1.125rem;
      }
    }
  }

  .section-page-header-tertiary {
    h2 {
      font-size: @section-header-font-size;
      color: @font-color-inverted;
      background: @color-secondary;
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      padding: 0.25rem 1rem;
      margin: 0;
      text-align: center;
    }
    h3 {
      font-size: @section-subheader-font-size;
      color: @font-color-inverted;
      background: @color-secondary;
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      padding: 0.25rem 1rem;
      margin: 0;
      text-align: center;
    }

    @media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) {
      h2 {
        font-size: 1rem;
      }
      h3 {
        font-size: 1rem;
      }
    }
    @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
      h2 {
        font-size: 1.125rem;
      }
      h3 {
        font-size: 1.125rem;
      }
    }
  }

  .section-page-header-quaternary {
    h2 {
      font-size: @section-header-font-size;
      color: @font-color;
      background: @color-senary;
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      padding: 0.25rem 1rem;
      margin: 0;
      text-align: center;
    }
    h3 {
      font-size: @section-subheader-font-size;
      color: @font-color;
      background: @color-senary;
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      padding: 0.25rem 1rem;
      margin: 0;
      text-align: center;
    }

    @media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) {
      h2 {
        font-size: 1rem;
      }
      h3 {
        font-size: 1rem;
      }
    }
    @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
      h2 {
        font-size: 1.125rem;
      }
      h3 {
        font-size: 1.125rem;
      }
    }
  }

  .section-page-header-quinary {
    h2 {
      font-size: @section-header-font-size;
      color: @font-color;
      background: #fff5a3;
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      padding: 0.25rem 1rem;
      margin: 0;
      text-align: center;
    }
    h3 {
      font-size: @section-subheader-font-size;
      color: @font-color;
      background: #fff5a3;
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      padding: 0.25rem 1rem;
      margin: 0;
      text-align: center;
    }

    h2 {
      color: @header-color;
    }
    h3 {
      color: @header-color;
    }

    @media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) {
      h2 {
        font-size: 1rem;
      }
      h3 {
        font-size: 1rem;
      }
    }
    @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
      h2 {
        font-size: 1.125rem;
      }
      h3 {
        font-size: 1.125rem;
      }
    }
  }

  .section-page-header-banner {
    display: block;
    width: 100%;
    object-fit: cover;
    height: @section-header-height;
    margin-top: 0;
  }

  @media only screen and (min-width: @mobile) and (max-width: @tabletBreakpoint) {
    .section-page-banner-text {
      padding: 0 0 0 0;
    }
    .section-page-header-banner {
      height: @section-header-height-small-mobile;
    }
  }

  @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
    .section-page-header-banner {
      height: @section-header-height-tablet;
    }
  }

  .section-page-footer-secondary {
    border-left: 1px solid @color-tertiary;
    border-right: 1px solid @color-tertiary;
    border-bottom: 1px solid @color-tertiary;
    margin-bottom: 2rem;
  }

  .section-page-submenu {
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    // margin-bottom: 1em;

    a {
      display: inline-block;
      padding: 0.5em 0.75em;
      margin: 0.8em 0.5em;
      color: @font-color;
      background: @color-quaternary;
      // border: 1px solid @color-septenary;
    }
    a.active {
      color: @font-color-inverted;
      background: @color-secondary;
    }
    @media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) {
      a {
        display: block;
        padding: 0.25em 0.75em;
        margin: 0.35em 0.25em;
      }
    }
    @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
      font-size: 0.65rem;
      a {
        padding: 0.25em 0.5em;
        margin: 1.9em 0.25em;
      }
    }
    @media only screen and (min-width: @computerBreakpoint) and (max-width: @largeMonitorBreakpoint) {
      font-size: 0.85rem;
      a {
        padding: 0.5em 0.75em;
        margin: 1.15em 0.25em;
      }
    }
    @media only screen and (min-width: @widescreenMonitor) {
      font-size: 1.25rem;
      a {
        padding: 0.5em 0.75em;
        margin: 0.44em 0.25em;
      }
    }
  }

  .section-page-content {
    margin: 0;

    p {
      padding: 0;
      margin: 0;
      font-weight: normal;
      line-height: 1.5rem;
    }
    p.info {
      margin: 0 auto;
      color: @color-tertiary;
    }
    @media only screen and (min-width: @verySmallMobile) and (max-width: @largeMonitorBreakpoint) {
      margin: 0;
      font-size: 1rem;
      line-height: 1.25rem;
    }
    @media only screen and (min-width: @largeMonitor) and (max-width: @wideScreenMonitorBreakpoint) {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }
    @media only screen and (min-width: @wideScreenMonitorBreakpoint) {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }
  }
}

@media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
  .section-page {
    padding-top: 3.75rem;
  }
}
@media only screen and (min-width: @verySmallMobile) and (max-width: @mobileBreakpoint) {
  .section-page {
    padding-top: 3.5rem;
  }
}
@media only screen and (min-width: @mobile) and (max-width: @largeMobileBreakpoint) {
  .section-page {
    padding-top: 3.5rem;
  }
}
@media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
  .section-page {
    padding-top: 4rem;
  }
}

.leaflet-container {
  height: 20vmax;
  width: 100%;
}

@media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) {
  .leaflet-container {
    height: 35vmax;
  }
}

.avatar {
  width: 100px !important;
  height: 100px !important;
  border: 3px solid #e6e6e6;
  margin: 1rem auto 1.5rem auto;
}

small {
  font-size: 90%;
}
small.very {
  font-size: 75%;
  line-height: 1em;
}

.image-max-width {
  width: 100vw;
}

.menu-box-container {
  display: flex !important;
  align-self: stretch !important;
}

.menu-box-flex {
  display: flex !important;
  border: 5px solid #e7e7e7;
}

.info-box {
  background: @color-secondary;
  color: @font-color-inverted;
  padding: 0rem !important;

  .item .meta {
    color: #a7a7a7 !important;
    a {
      color: #a7a7a7 !important;
      word-break: break-word;

      &:hover {
        color: @color-quaternary !important;
      }
    }
  }
}

.info-box-light {
  background: @color-senary;
  padding: 0.25rem 0.5rem !important;

  .ui.divided.items > .item {
    border-bottom: 1px solid @color-quaternary;
  }
  .ui.divided.items > .item:first-child {
    border-top: none;
  }
  .item .meta {
    color: rgba(0, 0, 0, 0.6);
    a {
      color: rgba(0, 0, 0, 0.6);
      word-break: break-word;
    }
  }
}

.zoom {
  width: 100%;
  transition: all 0.3s;

  &:hover {
    overflow: hidden;
    transform: scale(1.015);
  }
}

.hideForDesktop {
  display: block;
  @media only screen and (min-width: @tablet) {
    display: none;
  }
}

.hideForMobile {
  display: block;
  @media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) {
    display: none;
  }
}

.white-background {
  background-color: #fff !important;
}

.table-not-classified {
  background-color: @header-background-tertiary;
  color: @font-color-inverted;
  text-align: center;
}

.mercedes {
  border-color: #0bb6c7 !important;
  color: @font-color-inverted !important;
}
.red_bull {
  border-color: #3671c6 !important;
  color: @font-color-inverted !important;
}
.aston_martin {
  border-color: #358c75 !important;
  color: @font-color-inverted !important;
}
.mclaren {
  border-color: #f58020 !important;
  color: @font-color-inverted !important;
}
.alpine {
  border-color: #0093cc !important;
  color: @font-color-inverted !important;
}
.ferrari {
  border-color: #f91536 !important;
  color: @font-color-inverted !important;
}
.alphatauri {
  border-color: #1834ce !important;
  color: @font-color-inverted !important;
}
.kick_sauber {
  border-color: #44bb44 !important;
  color: @font-color-inverted !important;
}
.haas {
  border-color: #b6babd !important;
  color: @font-color-inverted !important;
}
.williams {
  border-color: #64c4ff !important;
  color: @font-color-inverted !important;
}

.cell-top-no-border {
  border-top: none !important;
}

.cell-top-border {
  border-top: 1px solid @color-quaternary !important;
}

.first-cell-top-border {
  border-top: 1px solid #f8f8f8 !important;
}

.cell-bottom-no-border {
  border-bottom: none !important;
}

.cell-bottom-border {
  border-bottom: 1px solid @color-quaternary !important;
}

.first-cell-bottom-border {
  border-bottom: 1px solid #f8f8f8 !important;
}

.cell-header-number {
  width: 3vw;
}

.cell-header-points {
  width: 3vw;
}

.cell-body {
  background: #fafafa !important;
}

.cell-body-points {
  font-weight: 600 !important;
  background: @header-background-quinary !important;
}

.cell-photo {
  margin-right: 0.5em;
  display: inline-block;
}

// 768
@media only screen and (max-width: @tabletBreakpoint) {
  .cell-photo {
    padding-right: 0;
    // width: 100vw !important;
    display: inline-block;
  }
}

.cell-info {
  color: #a50000;
  font-weight: normal;
}

.cell-text {
  font-weight: normal;
}

.cell-1 {
  background-color: #fff5a3 !important;
}

.cell-2 {
  background-color: #ebebeb !important;
}

.cell-3 {
  background-color: #dbbf81 !important;
}

.cell-4, 
.cell-5,
.cell-6, 
.cell-7, 
.cell-8, 
.cell-9, 
.cell-10 
{
  background-color: #f0f7fd !important;
}

.cell-bl {
  background-color: #d1ffe9 !important;
}

.cell-points {
  background-color: #f8f8f8 !important;
}

.cell-better {
  background-color: #d1ffe9 !important;
}

.cell-worse {
  background-color: #ffdddd !important;
}

.cell-default-size {
  width: 55px;
}

.gp-pp {
  background: red;
  width: 100%;
  display: inline-block;
  color: white;
  font-size: 0.9em;
  vertical-align: top !important;
}

.gp-bl {
  background: green;
  width: 100%;
  display: inline-block;
  color: white;
  font-size: 0.9em;
  vertical-align: bottom !important;
}

/* key-value */
.key-value-box {
  display: inline-block;
  padding: 0.25em 0.25em 0.25em 0;
  vertical-align: top;
}

.key-value-box-header {
  background: #818181;
  color: white;
  padding: 0.25em;
  text-align: center;
}

.key-value-box-value {
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 0.25em;
  text-align: center;
  position: relative;
}

.key-value-box-value-empty {
  border: none;
  padding: 0.125em;
  text-align: center;
  position: relative;
}

.key-value-box-value-pp {
  padding: 0.125em;
  text-align: center;
  position: relative;
  background: #da0000;
  color: #FFFFFF;
}

.key-value-box-value-bl {
  padding: 0.125em;
  text-align: center;
  position: relative;
  background: #008000;
  color: #FFFFFF;
}

// 240-767
@media only screen and (max-width: 767px) {
  .key-value-box {
    min-width: 1.9em;
  }
}

/* gp-key-value */
.gp-key-value-box {
  display: inline-block;
  min-width: 1.75em;
  margin: 0 0.05em 0.05em 0;
}

.gp-key-value-box-header-top {
  background: #656565;
  color: #FFFFFF;
  padding: 0.25em;
  text-align: center;
 
}

.gp-key-value-box-header {
  background: #cecece;
  color: #000000;
  padding: 0.125em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.gp-key-value-box-value-first {
  border: 1px solid #c4c4c4;
  padding: 0.125em;
  text-align: center;
  position: relative;
}

.gp-key-value-box-value {
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 0.125em;
  text-align: center;
  position: relative;
}

.gp-key-value-box-value-points {
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
  padding: 0.125em;
  text-align: center;
  position: relative;
  background: #f9f9f9;
  margin-top: 0.5em;
}

.gp-key-value-box-value-points-scored {
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
  padding: 0.125em;
  text-align: center;
  position: relative;
  background: #d3d3d3;
  margin-top: 0.5em;
}

.gp-key-value-box-value-sprint {
  border: none;
  padding: 0.125em;
  text-align: center;
  position: relative;
  background: #ffd4d4;
  color: #000000;
  text-transform: uppercase;
}

.gp-key-value-box-value-empty {
  border: none;
  padding: 0.125em;
  text-align: center;
  position: relative;
}

.gp-key-value-box-value-bl {
  padding: 0.125em;
  text-align: center;
  position: relative;
  background: #008000;
  color: #FFFFFF;
}

// 240-767
@media only screen and (max-width: 767px) {
  .gp-key-value-box {
    min-width: 1.5em;
  }
}

.filters {
  display: flex;
  justify-content: left;
  padding: 0.75em 0.25em;

  label {
    padding: 0.5em 0;
  }
}

.buttons {
  padding: 0.5em 0 0.5em 0;
  text-align: center;
  line-height: normal;
}

@media only screen and (max-width: @tabletBreakpoint) {
  .buttons {
    padding: 0.5em 0 0.5em 0;
  }
}

@media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
  .buttons {
    padding: 0.5em 0 0.25em 0;
  }
}

.sidebar-box-header-primary {
  color: @font-color;
  background: @header-background-septenary;
  margin: 0 !important;
  padding: 0.25em !important;
}

.box-image-name {
  text-align: left;
  display: inline-block;
  margin: 0;
  > div {
    vertical-align: middle !important;
    display: inline-block !important;

    a {
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.basic-table {
  width: 100%;
  font-size: 1.125rem;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0px;

  td {
    border-bottom: 1px solid @color-secondary;
    padding: 0.125em;
  }
  th {
    background: #cecece;
    color: @font-color;
    padding: 0.125em;
  }
}
.active-driver,
.active-team {
  color: red;
}

.adv {
  background: @header-background-septenary;
  padding: 0.25em;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
.adv-horizontal-slim {
  display:inline-block;
  width: 728px;
  height: 90px !important;
  text-align: center;
  margin: 0 auto;
}
.adv-horizontal-slim-mobile {
  display:inline-block;
  width: 100%;
  max-height: 90px !important;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}
.adv-horizontal-mobile {
  display:inline-block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

// 240
@media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
  .item-photo {
    padding-right: 0.125em;
  }
}
// 320
@media only screen and (min-width: @smallMobile) and (max-width: @mobileBreakpoint) {
  .item-photo {
    padding-right: 0.25em;
  }
}
// 375
@media only screen and (min-width: @mobile) and (max-width: @largeMobileBreakpoint) {
  .item-photo {
    padding-right: 0.25em;
  }
}
// 425
@media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
  .item-photo {
    padding-right: 0.125em;
  }
}