/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  // height: 135vh;
  float: left;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 15vw;
  // margin-top: @header-height;
}
.owl-carousel .owl-item img.banner {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 50vw;
  margin-top: @header-height;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
// .owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
// }
.owl-carousel .owl-item .owl-lazy {
  // opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("../../images/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/* Mobile styles */
.owl-carousel .owl-item {
  padding: 0px 0px;
  margin: 0px 0px;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  /*font-size:12px;*/
}
.owl-carousel .owl-item .owl-container {
  width: inherit;
  background: #d4d4d4;
  /*height: 550px;*/
}
.owl-carousel .owl-item .owl-text-box {
  position: absolute;
  top: 4rem;
  width: inherit;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px #656565;
}
// .owl-carousel .owl-item .ui.card {
  /*background: white;*/
// }
.owl-carousel .owl-item .owl-text-box h2,
.owl-carousel .owl-item .owl-text-box h3 {
  /*font-size: 4rem;
    font-family: 'LatoLatinHeavy', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-shadow: none;
    background: #d50908;
    display: inline-block;
    padding: 1px 15px;*/
  font-family: /*'LatoLatinWebHeavy',*/ sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #656565;
  display: block;
}

.owl-carousel .owl-item .owl-text-box h2 {
  color: #fff;
  font-size: 4rem;
  padding: 1px 15px;
  /*text-transform: uppercase;*/
}
.owl-carousel .owl-item .owl-text-box h3 {
  font-size: 2rem;
  padding: 20px 15px;
  /*text-transform: uppercase;*/
}

/* Mobile small*/
@media only screen and (min-width: @verySmallMobile) and (max-width: @mobileBreakpoint) {
  .owl-carousel .owl-item {
    .item img {
      margin-top: 0;
      height: 8em;
    }
  }
}

/* Mobile */
@media only screen and (min-width: @mobile) and (max-width: @largeMobileBreakpoint) {
  .owl-carousel .owl-item {
    .item img {
      margin-top: 0;
      height: 8em;
    }
  }
}

/* Mobile large*/
@media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
  .owl-carousel .owl-item {
    .item img {
      margin-top: 0;
      height: 8em;
    }
  }
}

/* Tablet */
@media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
  .owl-carousel .owl-item {
    .item img {
      margin-top: 0.5rem;
      height: 8em;
    }
  }
}

/* Small Monitor */
@media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
  .owl-carousel .owl-item {
    .item img {
      margin-top: 0.5rem;
      height: 15em;
    }
  }
}

/* Large Monitor */
@media only screen and (min-width: @largeMonitor) and (max-width: @wideScreenMonitorBreakpoint) {
  .owl-carousel .owl-item {
    .item img {
      margin-top: 0.25rem;
      height: 15em;
    }
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: @widescreenMonitor) {
  .owl-carousel .owl-item {
    .item img {
      margin-top: 0.5rem;
      height: 15em;
    }
  }
}

.item h2 {
  margin: inherit;
}
