/*
RESPONSIVE TABLE SECTION
*/
@media only screen and (min-width: 767px) {
  .responsive-table {
    width: 100% !important;
  }
}
.responsive-table thead {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
@media only screen and (min-width: 767px) {
  .responsive-table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
    background: #cecece;
  }
}
.responsive-table thead th {
  text-align: left;
  text-transform: uppercase;
}
.responsive-table thead th:first-of-type {
  text-align: center !important;
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
  display: block;
  padding: 0;
  text-align: left;
  white-space: normal;
}
@media only screen and (min-width: 767px) {
  .responsive-table tr {
    display: table-row;
  }
}
.responsive-table th,
.responsive-table td {
  vertical-align: middle;
  text-align: right !important;
}
@media only screen and (min-width: 767px) {
  .responsive-table th,
  .responsive-table td {
    display: table-cell;
    text-align: center !important;
    .left {
      text-align: left !important;
    }
  }
  .responsive-table th.left,
  .responsive-table td.left {
    text-align: left !important;
  }
}
@media only screen and (min-width: 767px) {
  .responsive-table th:first-child {
    display: table-cell;
    padding-left: 0.25em !important;
  }
  .responsive-table td:first-child {
    display: table-cell;
    padding-left: 0.25em !important;
    background: #f8f8f8 !important;
  }
  .responsive-table td.no-background:first-child {
    display: table-cell;
    padding-left: 0.25em !important;
    background-color: #FFFFFF !important;
  }
}
.responsive-table caption {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
.responsive-table tfoot {
  font-size: 0.8em;
  font-style: italic;
}
@media only screen and (min-width: 767px) {
  .responsive-table tbody {
    display: table-row-group;
  }
}

.responsive-table tbody tr {
  margin-bottom: 1em;
  padding-top: 0em !important;
}
@media only screen and (min-width: 767px) {
  .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
  }
}

/* Zebra striping */
// .responsive-table tbody tr td:nth-of-type(odd) {
//   background: rgba(94, 93, 82, 0.1) !important;
// }
// .responsive-table tbody tr:last-of-type {
//   margin-bottom: 0;
// }
// @media only screen and (min-width: 767px) {
//   .responsive-table tbody tr:nth-of-type(even) {
//     background-color: rgba(94, 93, 82, 0.1);
//   }
//   .responsive-table tbody tr td:nth-of-type(odd) {
//     background: none !important;
//   }
// }

.responsive-table tbody th[scope="row"],
.responsive-table tbody th[data-subrow="true"] {
  text-align: left;
  font-size: 1.1em;
  font-weight: normal;
  padding: 0.2em 0.5em !important;
}
.responsive-table tbody th[scope="row"] {
  background-color: #adadad !important;
  color: #ffffff;
}
.responsive-table tbody th[data-subrow="true"] {
  background-color: @color-quaternary !important;
  color: #ffffff;
}
.responsive-table tbody th[scope="row"] a,
.responsive-table tbody th[data-subrow="true"] a {
  color: #fff;
}
@media only screen and (min-width: 767px) {
  .responsive-table tbody th[scope="row"],
  .responsive-table tbody th[data-subrow="true"] {
    background-color: transparent !important;
    color: @link-color-secondary;
    text-align: left !important;
  }
  .responsive-table tbody th[scope="row"] a,
  .responsive-table tbody th[data-subrow="true"] a {
    color: @link-color-secondary;
  }
  .responsive-table tbody th[scope="row"] a:hover,
  .responsive-table tbody th[data-subrow="true"] a:hover {
    color: @link-active-color-secondary;
  }
}
@media only screen and (max-width: 767px) {
  .responsive-table tbody th[scope="row"]:before,
  .responsive-table tbody th[data-subrow="true"]:before {
    content: attr(data-title);
  }
  .responsive-table tbody th[scope="row"] img,
  .responsive-table tbody th[data-subrow="true"] img {
    vertical-align: text-bottom;
  }
  .responsive-table tbody th[data-hidden="true"] {
    display: none;
  }
}
.responsive-table tbody td,
.responsive-table tbody td:last-child {
  padding: 0.25em !important;
}
.responsive-table tbody td:last-child {
  font-weight: normal;
}
.responsive-table tbody td[data-title]:before {
  content: attr(data-title);
  float: left;
  padding-left: 0.1em !important;
}
@media only screen and (min-width: 767px) {
  .responsive-table tbody td[data-title]:before {
    content: none;
  }
}
