.sm-mint {
  background: #000000;
}
.sm-mint a,
.sm-mint a:hover,
.sm-mint a:focus,
.sm-mint a:active {
  padding: 10px 10px;
  /* make room for the toggle button (sub indicator) */
  padding-right: 58px;
  color: @font-color-inverted;
  background: #000000;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.sm-mint a.current {
  font-weight: bold;
}
.sm-mint a.disabled {
  color: #cccccc;
}
.sm-mint a .sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: auto;
  right: 15px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  font: bold 14px/34px monospace !important;
  text-align: center;
  text-shadow: none;
  background: @color-quinary; //rgba(141, 184, 99, 0.2);
  border-radius: 4px;
}
.sm-mint a .sub-arrow::before {
  content: "+";
  position: absolute;
  top: -4px;
  right: 9px;
}
.sm-mint a.highlighted .sub-arrow::before {
  content: "-";
}
.sm-mint li {
  border-top: 1px solid @color-tertiary; //rgba(141, 184, 99, 0.2);
}
.sm-mint > li:first-child {
  border-top: 0;
}
.sm-mint ul {
  background: @color-senary;
}
.sm-mint ul a,
.sm-mint ul a:hover,
.sm-mint ul a:focus,
.sm-mint ul a:active {
  font-size: 14px;
  border-left: 8px solid transparent;
}
.sm-mint ul ul a,
.sm-mint ul ul a:hover,
.sm-mint ul ul a:focus,
.sm-mint ul ul a:active {
  border-left: 16px solid transparent;
}
.sm-mint ul ul ul a,
.sm-mint ul ul ul a:hover,
.sm-mint ul ul ul a:focus,
.sm-mint ul ul ul a:active {
  border-left: 24px solid transparent;
}
.sm-mint ul ul ul ul a,
.sm-mint ul ul ul ul a:hover,
.sm-mint ul ul ul ul a:focus,
.sm-mint ul ul ul ul a:active {
  border-left: 32px solid transparent;
}
.sm-mint ul ul ul ul ul a,
.sm-mint ul ul ul ul ul a:hover,
.sm-mint ul ul ul ul ul a:focus,
.sm-mint ul ul ul ul ul a:active {
  border-left: 40px solid transparent;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .sm-mint ul {
    position: absolute;
    width: 12rem;
    top: 4.5rem !important;
  }
}
@media (min-width: 1200px) {
  .sm-mint ul {
    position: absolute;
    width: 12rem;
    top: 6rem !important;
  }
}
@media (min-width: 768px) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-mint li {
    float: left;
  }

  .sm-mint.sm-rtl li {
    float: right;
  }

  .sm-mint ul li,
  .sm-mint.sm-rtl ul li,
  .sm-mint.sm-vertical li {
    float: none;
  }

  .sm-mint a {
    white-space: nowrap;
    border-left: 4px solid @color-primary;
    border-bottom: 4px solid @color-primary;
    color: @font-color-inverted;
  }

  .sm-mint ul a,
  .sm-mint.sm-vertical a {
    white-space: normal;
  }

  .sm-mint .sm-nowrap > li > a,
  .sm-mint .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }

  /* ...end */
  .sm-mint {
    border-top: 0;
    background: transparent;
  }
  .sm-mint a,
  .sm-mint a:hover,
  .sm-mint a:focus,
  .sm-mint a:active,
  .sm-mint a.highlighted {
    padding: 0.25rem 0.5rem;
    margin: 2.25rem 0.25rem 0 0;
    transform: skewX(-10deg);
  }
  .sm-mint a:hover,
  .sm-mint a:focus,
  .sm-mint a:active {
    background: @color-tertiary;
    color: @font-color-inverted;
  }
  .sm-mint a.highlighted {
    background: @color-tertiary;
    color: @font-color-inverted;
  }
  .sm-mint a.disabled {
    background: transparent;
    color: #cccccc;
    box-shadow: none;
  }
  // .sm-mint a.has-submenu {
  // padding-left: 5px;
  // padding-right: 5px;
  // }
  .sm-mint a .sub-arrow {
    top: 50%;
    margin-top: -3px;
    right: 20px;
    width: 0;
    height: 0;
    background: transparent;
    border-radius: 0;
  }
  .sm-mint a:hover .sub-arrow,
  .sm-mint a:focus .sub-arrow,
  .sm-mint a:active .sub-arrow {
    border-color: @font-color transparent transparent transparent;
  }
  .sm-mint a.highlighted .sub-arrow {
    border-color: @font-color transparent transparent transparent;
  }
  .sm-mint a.disabled .sub-arrow {
    border-color: @font-color transparent transparent transparent;
  }
  .sm-mint a .sub-arrow::before {
    display: none;
  }
  .sm-mint li {
    border-top: 0;
  }
  .sm-mint ul {
    border: 0;
    padding: 0;
    background: #fff;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25);
  }
  .sm-mint ul ul {
    border-radius: 4px;
  }
  .sm-mint ul a,
  .sm-mint ul a:hover,
  .sm-mint ul a:focus,
  .sm-mint ul a:active,
  .sm-mint ul a.highlighted {
    border: 0 !important;
    padding: 10px 20px;
    color: @font-color;
    border-radius: 0;
  }
  .sm-mint ul a:hover,
  .sm-mint ul a:focus,
  .sm-mint ul a:active,
  .sm-mint ul a.highlighted {
    color: @font-color;
    box-shadow: none;
  }
  .sm-mint ul a.disabled {
    background: transparent;
    color: #b3b3b3;
  }
  .sm-mint ul a.has-submenu {
    padding-right: 20px;
  }
  .sm-mint ul a .sub-arrow {
    right: 10px;
    margin-top: -4.02px;
  }
  .sm-mint ul a:hover .sub-arrow,
  .sm-mint ul a:focus .sub-arrow,
  .sm-mint ul a:active .sub-arrow,
  .sm-mint ul a.highlighted .sub-arrow {
    border-color: transparent transparent transparent @font-color;
  }
  .sm-mint ul a.disabled .sub-arrow {
    border-color: transparent transparent transparent @font-color;
  }
  .sm-mint .scroll-up,
  .sm-mint .scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: #f6ffed;
    height: 20px;
  }
  .sm-mint .scroll-up-arrow,
  .sm-mint .scroll-down-arrow {
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 0 6px 8px 6px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent @font-color transparent;
  }
  .sm-mint .scroll-down-arrow {
    border-width: 8px 6px 0 6px;
    border-style: solid dashed dashed dashed;
    border-color: @font-color transparent transparent transparent;
  }
  .sm-mint.sm-rtl a.has-submenu {
    padding-right: 20px;
    padding-left: 34px;
  }
  .sm-mint.sm-rtl a .sub-arrow {
    right: auto;
    left: 20px;
  }
  .sm-mint.sm-rtl.sm-vertical {
    border-right: 0;
    border-left: 2px solid @link-active-color;
  }
  .sm-mint.sm-rtl.sm-vertical a {
    border-radius: 0 4px 4px 0;
  }
  .sm-mint.sm-rtl.sm-vertical a.has-submenu {
    padding: 10px 20px;
  }
  .sm-mint.sm-rtl.sm-vertical a .sub-arrow {
    right: auto;
    left: 10px;
  }
  .sm-mint.sm-rtl.sm-vertical a:hover .sub-arrow,
  .sm-mint.sm-rtl.sm-vertical a:focus .sub-arrow,
  .sm-mint.sm-rtl.sm-vertical a:active .sub-arrow,
  .sm-mint.sm-rtl.sm-vertical a.highlighted .sub-arrow {
    border-color: transparent @font-color transparent transparent;
  }
  .sm-mint.sm-rtl.sm-vertical a.disabled .sub-arrow {
    border-color: transparent @font-color transparent transparent;
  }
  .sm-mint.sm-rtl ul {
    border-radius: 4px 0 4px 4px;
  }
  .sm-mint.sm-rtl ul a {
    border-radius: 0 !important;
  }
  .sm-mint.sm-rtl ul a.has-submenu {
    padding: 10px 20px !important;
  }
  .sm-mint.sm-rtl ul a .sub-arrow {
    right: auto;
    left: 10px;
  }
  .sm-mint.sm-rtl ul a:hover .sub-arrow,
  .sm-mint.sm-rtl ul a:focus .sub-arrow,
  .sm-mint.sm-rtl ul a:active .sub-arrow,
  .sm-mint.sm-rtl ul a.highlighted .sub-arrow {
    border-color: transparent @font-color transparent transparent;
  }
  .sm-mint.sm-rtl ul a.disabled .sub-arrow {
    border-color: transparent @font-color transparent transparent;
  }
  .sm-mint.sm-vertical {
    border-bottom: 0;
    border-right: 2px solid @link-active-color;
  }
  .sm-mint.sm-vertical a {
    padding: 10px 20px;
    border-radius: 4px 0 0 4px;
  }
  .sm-mint.sm-vertical a:hover,
  .sm-mint.sm-vertical a:focus,
  .sm-mint.sm-vertical a:active,
  .sm-mint.sm-vertical a.highlighted {
    color: @font-color;
    box-shadow: none;
  }
  .sm-mint.sm-vertical a.disabled {
    background: transparent;
    color: #cccccc;
  }
  .sm-mint.sm-vertical a .sub-arrow {
    right: 10px;
    margin-top: -4.02px;
  }
  .sm-mint.sm-vertical a:hover .sub-arrow,
  .sm-mint.sm-vertical a:focus .sub-arrow,
  .sm-mint.sm-vertical a:active .sub-arrow,
  .sm-mint.sm-vertical a.highlighted .sub-arrow {
    border-color: transparent transparent transparent @font-color;
  }
  .sm-mint.sm-vertical a.disabled .sub-arrow {
    border-color: transparent transparent transparent @font-color;
  }
  .sm-mint.sm-vertical ul {
    border-radius: 4px !important;
  }
  .sm-mint.sm-vertical ul a {
    padding: 10px 20px;
  }
}

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover,
.hvr-sweep-to-bottom:focus,
.hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before,
.hvr-sweep-to-bottom:focus:before,
.hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: @color-quaternary;
  height: 2px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before,
.hvr-underline-reveal:focus:before,
.hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* Overline Reveal */
.hvr-overline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-overline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  background: @color-quaternary;
  height: 3px;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
@media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
  .sm-mint a,
  .sm-mint a:hover,
  .sm-mint a:focus,
  .sm-mint a:active,
  .sm-mint a.highlighted {
    padding: 0.25rem 0.25rem;
    margin: 1.25rem 0.25rem 0.75rem 0.25rem;
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
  .hvr-overline-reveal:hover,
  .hvr-overline-reveal:focus {
    background: @color-secondary !important;
    color: #fff !important;

    .sub-arrow {
      background: #ff9595;
    }
  }
  .sm-mint a,
  .sm-mint a:hover,
  .sm-mint a:focus,
  .sm-mint a:active,
  .sm-mint a.highlighted {
    padding: 0.25rem 0.5rem;
    margin: 1.5rem 0.25rem;
    font-size: 1.25rem !important;
  }
}
@media only screen and (min-width: @largeMonitor) and (max-width: @wideScreenMonitorBreakpoint) {
  .sm-mint a,
  .sm-mint a:hover,
  .sm-mint a:focus,
  .sm-mint a:active,
  .sm-mint a.highlighted {
    padding: 0.25rem 0.5rem;
    margin: 2rem 0.25rem;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: @widescreenMonitor) {
  .sm-mint a,
  .sm-mint a:hover,
  .sm-mint a:focus,
  .sm-mint a:active,
  .sm-mint a.highlighted {
    padding: 0.5rem 0.75rem;
    margin: 1.5rem 0.5rem;
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: @largeMonitorBreakpoint) {
  .sm-mint a,
  .sm-mint a:hover,
  .sm-mint a:focus,
  .sm-mint a:active {
    letter-spacing: 0em;
  }
}
/*# sourceMappingURL=sm-mint.css.map */
