@import "./variables.less";

.main-nav {
  position: relative;
}

.main-nav:after {
  clear: both;
  content: "\00a0";
  display: block;
  height: 0;
  font: 0px/0 serif;
  overflow: hidden;
}

.nav-brand {
  float: left;
  margin: 0;
}

.nav-brand a {
  display: block;
  padding: 5px 5px 0 5px;
  color: #fff;
  line-height: 29px;
  text-decoration: none;
}

/* Mobile */
@media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
  .nav-brand a {
    padding: 10px 0 0 10px;
  }
}

#main-menu {
  clear: both;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@media (min-width: 768px) {
  #main-menu {
    float: right;
    clear: none;
    margin-right: 0.5rem;
  }
}

/* Mega menus */

/* make mega menus take the full width of .main-nav */

#main-menu,
#main-menu > .has-mega-menu {
  position: static !important;
}

#main-menu .mega-menu {
  margin-left: 0 !important;
  right: 0 !important;
  width: auto !important;
  max-width: none !important;
  color: @font-color;
  background: #FFFFFF;
  border-top: 1px solid @color-primary;
  z-index: 0;
}

#main-menu > .has-mega-menu .scroll-up,
#main-menu > .has-mega-menu .scroll-down {
  margin-left: 0 !important;
}

/* clear any floats inside the mega menus */

#main-menu .mega-menu > li {
  overflow: auto;
}

/* reset mega menu list/link styles (which are inherited from the SmartMenus core/theme styles) */

#main-menu .mega-menu {
  color: @font-color;
}

#main-menu .mega-menu ul {
  position: static;
  display: block;
  margin: 0.83em 0;
  border: 0;
  padding: 0 0 0 20px;
  width: auto;
  background: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#main-menu .mega-menu ul li {
  display: list-item;
  list-style-type: disc;
  border: 0;
}

#main-menu .mega-menu a {
  display: inline;
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  color: inherit;
  text-transform: uppercase;
}

/* simple columns inside the mega menus */

#main-menu .mega-menu .column-1-3 {
  padding: 0 20px;
}

@media (min-width: 768px) {
  #main-menu .mega-menu .column-1-3 {
    float: left;
    width: 33.33%;
  }
}

/* Sample image placeholder */

.mega-menu-sample-image {
  margin: 0.83em 0;
  border: 1px solid;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

/* Mobile menu top separator */

#main-menu:before {
  content: "";
  display: block;
  height: 1px;
  font: 1px/1px sans-serif;
  overflow: hidden;
  background: @color-primary;
}

@media (min-width: 768px) {
  #main-menu:before {
    display: none;
  }
}

/* Mobile menu toggle button */

.main-menu-btn {
  // float: right;
  margin: 0px 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-indent: 30px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  /* Mobile small*/
  @media only screen and (min-width: @verySmallMobile ) and (max-width: @mobileBreakpoint ) {
    margin: -3px -5px;
  }
}

/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: @font-color;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.main-menu-btn-icon:before {
  content: "";
  top: -7px;
  left: 0;
}

.main-menu-btn-icon:after {
  content: "";
  top: 7px;
  left: 0;
}

/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
  display: none;
}

#main-menu-state:checked ~ #main-menu {
  display: block;
}

@media (min-width: 768px) {
  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }
  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: block;
  }
  .nav-brand a {
    padding: 0.75em 0.5em 0.25em 0.5em;
  }
}
