@import "../../styles/less/variables.less";

#drivers-compare {
  .drivers-compare-header {
    position: relative;
    padding: @header-padding;
    background: @color-secondary;
    margin-top: 0em;

    h2 {
      font-family: @font-family-header;
      font-size: 3rem;
      color: @header-inverted-color;
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    h3 {
      font-family: @font-family-header;
      font-size: 2rem;
      color: @subheader-inverted-color;
      margin: 0 0 0 0;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      width: 100%;
    }

    @media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
      h2 {
        font-size: @section-header-font-size-very-small-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-very-small-mobile;
      }
    }
    @media only screen and (min-width: @smallMobile) and (max-width: @tabletBreakpoint) {
      h2 {
        font-size: @section-header-font-size-small-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-small-mobile;
      }
    }
    @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
      h2 {
        font-size: 1.75rem;
      }
      h3 {
        font-size: 1.25rem;
      }
    }
    // 992
    @media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
      h2 {
        font-size: 1.75rem;
      }
      h3 {
        font-size: 1.25rem;
      }
    }
    // 1280
    @media only screen and (min-width: @largeMonitor) and (max-width: @wideScreenMonitorBreakpoint) {
      h2 {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 1.5rem;
      }
    }
  }

  .drivers-compare-content {
    table {
      border: none;
      font-size: 1rem;
      text-transform: uppercase;
    }
    div.versus {
      font-size: 4rem;
      font-weight: 600;
      margin-top: 0.2rem;

      div {
        font-size: 0.3rem;
        margin: 1rem;
      }
    }
    p {
      margin: 0;
      line-height: normal;
    }
    img {
      padding-bottom: 0.25em;
    }
    h3 {
      font-size: 1rem;
      margin: 0;
    }
    h4 {
      font-size: 1.75rem;
      // color: @color-secondary;
    }
    th {
      padding-bottom: 0.5em;
    }
    td {
      line-height: normal;
    }
    .combo-drivers {
      padding: 0;
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    .drivers-compare-season-results {
      background: @header-background-secondary;
      border-bottom: 4px solid @color-septenary;
      h4 {
        color: @font-color-inverted;
      }
    }

    // small mobile
    @media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
      div.versus {
        margin: 0;
        div {
          font-size: 2rem;
          margin: 1em 0 1.5em 0;
        }
      }
      h3 {
        font-size: 1.25rem;
      }
      h4 {
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin: 0;
      }
      table {
        line-height: 2.25rem;
      }
      th div p {
        font-size: 1rem;
        line-height: 1rem;
        margin: 0;
      }
      .combo-drivers {
        padding: 0;
      }
    }
    // iphone 4, 5, 6,7,8,X
    @media only screen and (min-width: @smallMobile) and (max-width: @tabletBreakpoint) {
      div.versus {
        margin: 0;
        div {
          font-size: 2rem;
          margin: 1em 0 1.5em 0;
        }
      }
      h3 {
        font-size: 1.25rem;
      }
      h4 {
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin: 0;
      }
      table {
        line-height: 2.25rem;
      }
      th div p {
        font-size: 1rem;
        line-height: 1rem;
        margin: 0;
      }
      .combo-drivers {
        padding: 0;
      }
    }
    // ipad, ipad pro
    @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
      div.versus {
        margin: 0;
        div {
          font-size: 2rem;
          margin: 1em 0 1.5em 0;
        }
      }
      h3 {
        font-size: 1rem;
      }
      h4 {
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin: 0;
      }
      th div p {
        font-size: 1rem;
        line-height: 1rem;
        margin: 0;
      }
    }
    //mcbook air, pro,  desktop small
    @media only screen and (min-width: @largeMonitor) {
      div.versus {
        font-size: 4rem;
      }
      h3 {
        font-size: 1.4rem;
      }
      h4 {
        font-size: 1.4rem;
        line-height: 1.5rem;
      }
      th div p {
        font-size: 1.4rem;
        line-height: 1.4rem;
        margin: 0;
      }
      td {
        font-size: 1.25rem;
      }
    }
  }
}
