@import "../../styles/less/variables.less";

#season-class {
  // margin-top: 6.125em;
  
  .season-class-header {
    position: relative;
    background: @header-background-secondary;
    padding: 0.5rem 0;
    
    h2 {
      font-family: @font-family-header;
      font-size: @section-header-font-size;
      color: @header-color;
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    h3 {
      font-family: @font-family-header;
      font-size: @section-subheader-font-size;
      color: @subheader-color;
      margin: 0 0 0 0;
      padding: 0 0 0.25em 0;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      width: 100%;
    }
  }
  .season-class-banner {
    display: block;
    width: 100%;
    object-fit: cover;
    height: @section-header-height-widescreen;
    margin-top: 0;

    img {
      height: @section-header-height-widescreen;
      object-fit: cover;
      width: 100%;
    }

    @media only screen and (min-width: @verySmallMobile) and (max-width: @mobileBreakpoint) {
      //male
      height: @section-header-height-small-mobile !important;
      img {
        height: @section-header-height-small-mobile !important;
      }
    }
    @media only screen and (min-width: @mobile) and (max-width: @tabletBreakpoint) {
      // iphone 4, 5, 6,7,8,X
      height: @section-header-height-mobile !important;
      img {
        height: @section-header-height-mobile !important;
      }
    }
    @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
      // ipad, ipad pro
      height: @section-header-height-tablet !important;
      img {
        height: @section-header-height-tablet !important;
      }
    }
    @media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
      // ipad, ipad pro
      height: @section-header-height !important;
      img {
        height: @section-header-height !important;
      }
    }
    @media only screen and (min-width: @largeMonitor) and (max-width: @wideScreenMonitorBreakpoint) {
      //mcbook air, pro,  desktop small
      height: @section-header-height !important;
      img {
        height: @section-header-height !important;
      }
    }
  }
  .season-class-content {
    line-height: normal;
    overflow: hidden;

    a {
      color: @font-color-inverted;

      &:hover {
        color: @color-quinary;
      }
    }
  }

  // 240
  @media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
    .season-class-banner {
      height: @section-header-height-small-mobile;
    }
    .season-class-header {
      h2 {
        font-size: @section-header-font-size-very-small-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-very-small-mobile;
      }
    }
  }
  //320
  @media only screen and (min-width: @smallMobile) and (max-width: @tabletBreakpoint) {
    .season-class-banner {
      height: @section-header-height-small-mobile;
    }
    .season-class-header {
      h2 {
        font-size: @section-header-font-size-small-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-small-mobile;
      }
    }
  }
  // 768
  @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
    .season-class-banner {
      height: @section-header-height-tablet;
    }
    .season-class-header {
      h2 {
        font-size: @section-header-font-size-tablet;
      }
      h3 {
        font-size: @section-subheader-font-size-tablet;
      }
    }
  }
  /* Small Monitor */
  @media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
    .season-class-banner {
      height: @section-header-height;
    }
    .season-class-header {
      h2 {
        font-size: @section-header-font-size-tablet;
      }
      h3 {
        font-size: @section-subheader-font-size-tablet;
      }
    }
  }
  
  .season-class-chart-header {
    position: relative;
    padding: @header-padding;
    background: @header-background-primary;

    h2 {
      font-size: @section-header-font-size;
      color: @header-color;
      text-transform: uppercase;
      // letter-spacing: 0.1em;
      width: 100%;
      display: inline-block;
      padding: 0;
      margin: 0;
      text-align: center;
      font-style: italic;
    }
    h3 {
      font-size: @section-subheader-font-size;
      color: @color-primary;
      margin: 0 0 0 0;
      text-transform: uppercase;
      // letter-spacing: 0.1em;
      text-align: center;
      display: inline-block;
      width: 100%;
      font-style: italic;
    }
  }
  @media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) {
    .season-class-chart-header {
      h2 {
        font-size: @section-header-font-size-small-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-small-mobile;
      }
    }
  }
  @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
    .season-class-chart-header {
      h2 {
        font-size: @section-header-font-size-tablet;
      }
      h3 {
        font-size: @section-subheader-font-size-tablet;
      }
    }
  }
}
