@import "../../styles/less/variables.less";

#drivers-compare-teammates {
  .drivers-compare-teammates-header {
    position: relative;
    padding: @header-padding;
    background: @header-background-secondary;

    h2 {
      font-family: @font-family-header;
      font-size: @section-header-font-size;
      color: @header-color;
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    h3 {
      font-family: @font-family-header;
      font-size: @section-subheader-font-size;
      color: @subheader-color;
      margin: 0 0 0 0;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      width: 100%;
    }
    @media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
      h2 {
        font-size: @section-header-font-size-very-small-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-very-small-mobile;
      }
    }
    @media only screen and (min-width: @smallMobile) and (max-width: @tabletBreakpoint) {
      h2 {
        font-size: @section-header-font-size-small-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-small-mobile;
      }
    }
    @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
      h2 {
        font-size: @section-header-font-size-tablet;
      }
      h3 {
        font-size: @section-subheader-font-size-tablet;
      }
    }
  }

  .drivers-compare-teammates-content {
    table {
      border: none;
      font-size: 1rem;
      text-transform: uppercase;

      tr td {
        border: none;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .team-name {
      background: @header-background-quinary;
      text-align: center;
      font-size: 1.5rem;
      line-height: normal;
    }
    .versus-container {
      width: 40%;
      vertical-align: top;
      font-weight: normal;
      font-size: 1.25rem;
    }
    div.versus {
      font-size: 3rem;
      font-weight: 600;
      margin-top: 0.2rem;

      div {
        font-size: 0.3rem;
        margin: 1rem;
      }
    }
    p {
      margin: 0;
      line-height: normal;
    }
    img {
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 1.75rem;
      color: @color-secondary;
      margin: 0.5rem 0;
    }
    th {
      border: none;
      vertical-align: top;
      padding-bottom: 0.25em;
    }
    td {
      border-left: none;
    }
    div.combo-drivers {
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
    // 240
    @media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
      div.versus {
        font-size: 3rem;
        margin: 0;

        div {
          font-size: 2rem;
          margin: 1em 0 1.5em 0;
        }
      }
      h3 {
        font-size: 1.125rem;
        line-height: 1.25rem;
      }
      table {
        line-height: 2.25rem;
      }
      th div p {
        font-size: 1rem;
        line-height: 1rem;
        margin: 0;
      }
    }
    // 320
    @media only screen and (min-width: @smallMobile) and (max-width: @mobileBreakpoint) {
      div.versus {
        font-size: 3rem;
        margin: 0;

        div {
          font-size: 2rem;
          margin: 1em 0 1.5em 0;
        }
      }
      h3 {
        font-size: 1.5rem;
        line-height: 1.75rem;
      }
      table {
        line-height: 2.25rem;
      }
      th div p {
        font-size: 1rem;
        line-height: 1rem;
        margin: 0;
      }
    }
    // 390, 425
    @media only screen and (min-width: @mobile) and (max-width: @tabletBreakpoint) {
      div.versus {
        font-size: 3.5rem;
        margin: 0.125em 0 0 0;

        div {
          font-size: 2rem;
          margin: 1em 0 1.5em 0;
        }
      }
      h3 {
        font-size: 1.5rem;
        line-height: 1.75rem;
      }
      table {
        line-height: 2.25rem;
      }
      th div p {
        font-size: 1.25rem;
        line-height: 1.25rem;
        margin: 0;
      }
    }
    // 768
    @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
      div.versus {
        font-size: 2.5rem;
        margin: 0.125em 0 0 0;

        div {
          font-size: 2rem;
          margin: 1em 0 1.5em 0;
        }
      }
      h3 {
        font-size: 1.125rem;
        line-height: 1.25rem;
      }
      table {
        line-height: 2.25rem;
      }
      th div p {
        font-size: 1.25rem;
        line-height: 1.25rem;
        margin: 0;
      }
    }
    // 1200
    @media only screen and (min-width: @largeMonitor) {
      div.versus {
        font-size: 4rem;
        margin: 0.125em 0;

        div {
          font-size: 2rem;
          margin: 1em 0 1.5em 0;
        }
      }
      h3 {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }
      table {
        line-height: 2.25rem;
      }
      th div p {
        font-size: 1.4rem;
        line-height: 1.4rem;
        margin: 0;
      }
    }
  }
}
