@import "../../styles/less/variables.less";

.seasons-year-header {
  font-size: 3rem;
  line-height: 3rem;
  display: inline-block;
  margin: 0rem 0 1rem 0;
}

/* Tablet */
@media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
  .seasons-year-header {
    font-size: 2.5rem;
    margin: 0;
  }
}

.seasons-labels {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  flex-wrap: wrap;
  justify-content: center;
  background: @color-tertiary !important;

  a.active {
    color: @link-color-secondary;
    opacity: 1;
  }
}

@media only screen and (min-width: 240px) and (max-width: @computerBreakpoint) {
  .seasons-labels {
    a {
      font-size: 1rem;
    }
  }
}
