@import "../../styles/less/variables.less";

#trivia {
  background: @color-primary;
  text-align: center;
  width: 100%;
  max-width: @max-resolution;
  display: flex;
  flex-direction: column;

  div {
    text-transform: uppercase;
    text-shadow: none;
    display: inline-block;

    a {
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 600;
      color: @font-color-inverted;

      &:hover {
        color: @font-color;
      }
    }

    .value {
      background: @color-secondary;
      color: @color-primary;
      display: inline-block;
      padding: 0.5rem 0.5rem;
      font-weight: 600;
      
    }

    .text {
      padding: 0 0.5rem;

      &:hover {
        color: @color-secondary;
      }
    }
  }
}
/* Mobile very small */
@media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
  #trivia {
    div {
      display: none;

      &:first-child {
        display: inline-block;
      }

      &:nth-child(2) {
        display: inline-block;
      }
      
      a {
        font-size: 0.85rem;
        vertical-align: middle;
      }

      .value {
        padding: 0 0.25rem;
        font-size: 0.85rem;
        line-height: normal;
        display: inline-block;
      }

      .text {
        padding: 0 0.5rem;
        display: inline-block;
      }
    }
  }
}
/* Mobile small */
@media only screen and (min-width: @smallMobile) and (max-width: @mobileBreakpoint) {
  #trivia {
    div {
      display: none;

      &:first-child {
        display: inline-block;
      }

      &:nth-child(2) {
        display: inline-block;
      }
      
      &:nth-child(3) {
        display: inline-block;
      }

      a {
        font-size: 0.7rem;
        vertical-align: middle;
      }

      .value {
        padding: 0 0.25rem;
        font-size: 0.85rem;
        line-height: normal;
        display: inline-block;
      }

      .text {
        padding: 0 0.25rem;
        display: inline-block;
      }
    }
  }
}
/* Mobile */
@media only screen and (min-width: @mobile) and (max-width: @largeMobileLandscapeBreakpoint) {
  #trivia {
    div {
      display: none;

      &:first-child {
        display: inline-block;
      }

      &:nth-child(2) {
        display: inline-block;
      }
      
      &:nth-child(3) {
        display: inline-block;
      }

      a {
        font-size: 0.8rem;
        vertical-align: middle;
      }

      .value {
        padding: 0 0.25rem;
        font-size: 0.9rem;
        line-height: normal;
        display: inline-block;
      }

      .text {
        padding: 0 0.5rem;
        display: inline-block;
      }
    }
  }
}
/* Mobile large */
@media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
  #trivia {
    top: 4rem;
    div {
      display: none;

      &:first-child {
        display: inline-block;
      }

      &:nth-child(2) {
        display: inline-block;
      }
      
      &:nth-child(3) {
        display: inline-block;
      }

      a {
        font-size: 1rem;
        line-height: 1rem;
      }

      .value {
        padding: 0.25rem 0.25rem;
        display: inline-block;
      }

      .text {
        padding: 0.25rem 0.5rem;
        display: inline-block;
      }
    }
  }
}
/* ipad */
@media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
  #trivia {
    div {
      display: inline-block;

      a {
        font-size: 1rem;
      }
      .value {
        padding: 0 0.25rem;
        font-size: 1rem;
      }
      .text {
        padding: 0 0.5rem;
      }
    }
  }
}
/* Small Monitor */
@media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
  #trivia {
    top: 4.95rem;
    
    div {
      a {
        font-size: 1.125rem;
      }
      .value {
        padding: 0 0.25rem;
      }
      .text {
        padding: 0 0.5rem;
      }
    }
  }
}
/* Large Monitor */
@media only screen and (min-width: @largeMonitor) and (max-width: @wideScreenMonitorBreakpoint) {
  #trivia {
    top: 5.95rem;

    div {
      a {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }
      .value {
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
