@import "../../styles/less/variables.less";

.lang-container {
  display: flex;
  flex-direction: column;
  margin: 0.75em 0.5em 0 0;
  justify-content: flex-end;
  float: right;
  position: relative;
  z-index: 3;
}

@media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
  .lang-container {
    margin: 0.15em 2em 0 0;
  }
}

@media only screen and (min-width: @smallMobile) and (max-width: @mobileBreakpoint) {
  .lang-container {
    margin: 0.15em 2em 0 0;
  }
}

@media only screen and (min-width: @mobile) and (max-width: @largeMobileBreakpoint) {
  .lang-container {
    margin: 0.125em 2.5em 0 0;
  }
}

@media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
  .lang-container {
    margin: 0.25em 2.5em 0 0;
  }
}
