@import "../../styles/less/variables.less";

#logo {
  float: left;
  margin: 0.5em 0 0 0;
  text-align: left;

  div {
    font-size: 2rem;
    font-weight: bold;
    color: @font-color-inverted;
    font-family: @font-family-header;
    text-align: center;
    display: inline-block;
  }

  h1 {
    font-size: 1.125rem;
    font-weight: normal;
    color: @font-color-inverted;
    text-align: center;
    margin: 0.25em 0 0 0;
    text-transform: uppercase;
  }
}
#logo-left {
  background-color: @logo-background-primary;
  margin: 0px;
  padding: 0.5rem;
}
#logo-center {
  background-color: @logo-background-secondary;
  margin: 0px;
  padding: 0.5rem;
}
#logo-right {
  background-color: @logo-background-tertiary;
  margin: 0px;
  padding: 0.5rem;
}
/* Mobile small*/
@media only screen and (min-width: @verySmallMobile) and (max-width: @mobileBreakpoint) {
  #logo {
    float: none;
    margin: 0.125em 0 0 0.25em;

    div {
      font-size: 0.95rem;
    }

    h1 {
      font-size: 0.55rem;
      padding: 0 0 0.25em 0;
      margin: 0;
    }
  }
  #logo-left {
    padding: 3px 5px;
    width: 25%;
  }
  #logo-center {
    padding: 3px 5px;
    width: 50%;
  }
  #logo-right {
    padding: 3px 5px;
    width: 25%;
  }
}
/* Mobile medium */
@media only screen and (min-width: @mobile) and (max-width: @largeMobileLandscapeBreakpoint) {
  #logo {
    float: none;
    margin: 0.125em 0 0 0.25em;

    div {
      font-size: 1.125rem;
    }

    h1 {
      font-size: 0.65rem;
      padding: 0 0 0.25em 0;
      margin: 0;
    }
  }
  #logo-left {
    padding: 3px 5px;
    width: 20%;
  }
  #logo-center {
    padding: 3px 5px;
    width: 50%;
  }
  #logo-right {
    padding: 3px 5px;
    width: 30%;
  }
}
/* Mobile */
@media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
  #logo {
    float: none;
    margin: 0.25em 0 0 0.25em;

    div {
      font-size: 1.35rem;
    }
    
    h1 {
      font-size: 0.75rem;
      padding: 0 0 0.25em 0.75em;
      margin: 0;
    }
  }
  #logo-left {
    padding: 3px 5px;
    width: 20%;
  }
  #logo-center {
    padding: 3px 5px;
    width: 50%;
  }
  #logo-right {
    padding: 3px 5px;
    width: 30%;
  }
}
/* Tablet */
@media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
  #logo {
    margin: 0.125em 0 0 0;

    div {
      font-size: 1.25rem;
    }
    
    h1 {
      font-size: 0.75rem;
      padding: 0 0 0 0;
      margin: 0;
    }
  }
}
/* Small Monitor */
@media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
  #logo {
    div {
      font-size: 1.5rem;
    }
        
    h1 {
      font-size: 0.9rem;
      padding: 0 0 0.25rem 0;
      margin: 0;
    }
  }
}
