@import '../../styles/less/variables.less';

.gp-season-qual-filters {
  margin: 0.5rem;
  width: 110px;
}
.class-drivers-qual{
    margin-bottom: 1em;
    tbody td:last-child {
      font-weight: normal !important;
    }
}
.class-teams-qual{
    tbody td:last-child {
      font-weight: normal !important;
    }
}
