@import '../../styles/less/variables.less';

.records-filters{
  background: linear-gradient(180deg, @color-senary 25%, @header-background-tertiary 100%);
  margin: 0em;
  padding: 0em 0.5em;
  color: white;
}

.drivers-records-buttons {
  padding: 0.5em 0 0.5em 0.25em;
  text-align: left;
  line-height: normal;
}