@import "../../styles/less/variables.less";

div.photo {
  padding-top: 0rem;
}

a.details {
  color: @font-color-inverted !important;
  background: @color-primary !important;
  border: 1px solid @color-primary !important;
  margin: 0 !important;
  padding: @button-padding !important;
  border-radius: 0.25rem !important;
  font-size: @button-font-size !important;
  font-weight: 600 !important;
  letter-spacing: 0.1rem !important;
  text-transform: uppercase;

  &:hover {
    color: @font-color !important;
    background: @color-secondary !important;
    border: 1px solid @color-secondary !important;
    font-weight: 600;
  }
}
.menu-buttons {
  margin: 0em 0 0.5em 0;
  text-align: center;
  line-height: normal;
}
/* apply the animations just in desktop view */

/* Mobile very small*/
@media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
  a.details {
    padding: 0.25em 0.5em !important;
    font-size: 1rem !important;
  }
}
@media (min-width: 768px) {
  /* prevent text rendering degrade during animation in Mac browsers */
  #main-menu {
    -webkit-font-smoothing: subpixel-antialiased;
  }
  /* show animation */
  #main-menu ul.show-animation {
    -webkit-animation: show-animation 0.2s;
    animation: show-animation 0.2s;
  }
  @-webkit-keyframes show-animation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  @keyframes show-animation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  /* hide animation */
  #main-menu ul.hide-animation {
    -webkit-animation: hide-animation 0.2s;
    animation: hide-animation 0.2s;
  }
  @-webkit-keyframes hide-animation {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
  @keyframes hide-animation {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}
