@import "../../styles/less/variables.less";

.circuit-photo-content {
  text-align: center;
  word-break: break-all;

  .circuit-photo {
    height: 100%;
    width: 100%;
  }

  div {
    font-size: 0.75rem;
  }
}

.circuit-info-content, 
.circuit-content {
  padding: 0.5em 0;
}

.circuit-seasons-content {
  padding-bottom: 0.25em;
}

.circuit-results-content {
  margin: 0;
}

.circuit-map {
  position: relative;
  z-index: 1;
}

.circuit-add-info {
  color: @color-tertiary;
}

.circuit-versions-box-model {
  background: #000;
  color: @font-color-inverted;
  padding: 0.25em;
}