@import '../../styles/less/variables.less';

.player-details-photo{
    height: 45rem;

    @media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) { // iphone 4,5,6,7,8,X
      height: 12rem;
    }
    @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) { // ipad, ipad pro
      height: 25rem;
    }
    @media only screen and (min-width: @largeMonitor) and (max-width: @wideScreenMonitorBreakpoint){ //mcbook air, pro,  desktop small
      height: 35rem;
    }
}

.player-stats-content{
  padding-bottom: 0.5em;
}

.player-seasons-content{
  margin: 0;
  
  .win{
    color: #FFF;
    background: #fbbd08;
    margin: 0 10px;
    display: inline-block;
    padding: 0.25em 0.5em
  }
  .second{
    color: #FFF;
    background: #a7a7a7;
    margin: 0 10px;
    display: inline-block;
    padding: 0.25em 0.5em
  }
  .third{
    color: #FFF;
    background: #a5673f;
    margin: 0 10px;
    display: inline-block;
    padding: 0.25em 0.5em
  }
  p{
    text-align: center !important;
    margin:0 auto !important;
    font-size: 1.5rem;
    padding-top: 0.5em !important;
  }
}
.player-results-content{
  margin: 0;
}
@media only screen and (max-width: @tabletBreakpoint) {
  .player-seasons-content{
    margin: 0;
    
    .win{
      margin: 0;
    }
    .second{
      margin: 0;
    }
    .third{
      margin: 0;
    }
  }
}

@media only screen and (min-width: @verySmallMobile) and (max-width: @largeMonitorBreakpoint) { // iphone 4,5,6,7,8,X
  .player-gprates-mobile{
    display: block;
    i.icon {
      margin-right: -3px;
    }
  }
  .player-gprates-desktop{
    display: none;
  }
}
@media only screen and (min-width: @largeMonitor){ //mcbook air, pro,  desktop small
  .player-gprates-mobile{
    display: none;
  }
  .player-gprates-desktop{
    display: block;
    margin-bottom: 1rem !important;
  }
}
