@import "../../styles/less/variables.less";

.gpresult-country-photo,
.gpresult-circuit-photo {
  height: 100%;
  width: 100%;
}

.gpresult-podium,
.gpresult-race,
.gpresult-grid {
  img {
    height: 100%;
    width: 100%;
  }
}

.gpresult-filters {
  padding: 0.75em 0.25em;
  width: 170px;
}

.car-model-photo {
  width: 100vw;
  height: 7em;
}

.unclassified {
  background: #f8d8d8 !important;
}

.pit-lane {
  background: #f4f4f4 !important;
}

.race-position-up {
  background: #d1ffdc !important;
}

.race-position-down {
  background: #ffdcdc !important;
}

.qual-stage-q1 {
  background: #ffd3cc !important;
}

.qual-stage-q2 {
  background: #fff0ac !important;
}

.qual-stage-q3 {
  background: #d9ffea !important;
}
