@import "../../styles/less/variables.less";
#news-carousel {
  padding-bottom: 0;
  background: linear-gradient(
    180deg,
    @header-background-secondary 20%,
    #42494f 90%
  );
  img {
    object-fit: cover;
  }
  .loading {
    padding-top: 140px;

    @media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) {
      padding-top: 100px;
    }
  }
  .image-content {
    width: inherit;
    height: 15em;
  }
  .text-content {
    width: 100%;
    height: 100%;
    padding: 0;

    div {
      color: @color-tertiary;
      font-size: 7rem;
      font-weight: 700;
      font-family: @font-family-header;
      text-transform: uppercase;
      margin: 1rem 0;
      line-height: 7rem;
    }
    p {
      color: @font-color-inverted;
      font-size: 2.5rem;
      margin: 3rem 1rem;
    }
  }
  .news-stats {
    color: #fff;
    width: 100%;
    z-index: 3;
    text-align: center;
    line-height: normal;
  }
  .news-image-content {
   height: 8em;
  }
  .news-container {
    background: #3c434b;
  }
  .news-container > .header {
    color: @font-color-inverted;
  }
  .news-container > .meta {
    color: @color-quaternary;
  }
  .news-container > .description {
    color: @color-quaternary;
  }
  .news-buttons {
    background: #525e6b;
  }
  /* Mobile small */
  @media only screen and (min-width: @verySmallMobile) and (max-width: @mobileBreakpoint) {
    .news-image-content {
      height: 5em;
     }
    .image-content {
      height: 8em;
    }
    .text-content {
      div {
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin: 0.5em;
      }
      p {
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 0 0.25em 0.5em 0.25em;
      }
    }
  }
  /* Mobile */
  @media only screen and (min-width: @mobile) and (max-width: @largeMobileLandscapeBreakpoint) {
    .news-image-content {
      height: 5em;
     }
    .image-content {
      height: 8em;
    }
    .text-content {
      div {
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin: 0.5em;
      }
      p {
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin: 0 0.25em 0.5em 0.25em;
      }
    }
  }
  /* Mobile large */
  @media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
    .news-image-content {
      height: 5em;
     }
    .image-content {
      height: 8em;
    }
    .text-content {
      div {
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin: 0.5em;
      }
      p {
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin: 0 0.25em 0.5em 0.25em;
      }
    }
  }
  /* ipad */
  @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
    .news-image-content {
      height: 5em;
     }
    .image-content {
      height: 8em;
    }
    .text-content {
      div {
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin: 0.5em;
      }
      p {
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin: 0 0 0.75em 0;
      }
    }
  }
  /* Small Monitor */
  @media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
    .news-image-content {
      height: 5em;
     }
    .image-content {
      height: 8em;
    }
    .text-content {
      div {
        font-size: 2rem;
        line-height: 2.25rem;
        margin: 0.5em;
      }
      p {
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin: 0 0 0.75em 0;
      }
    }
  }
  /* Large Monitor */
  @media only screen and (min-width: @largeMonitor) and (max-width: @wideScreenMonitorBreakpoint) {
    .news-image-content {
      height: 8em;
     }
    .text-content {
      div {
        font-size: 2.5rem;
        line-height: 2.75rem;
        margin: 0.5em;
      }
      p {
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin: 0 0.25em 0.75em 0.25em;
      }
    }
  }
  /* Widescreen Monitor */
  @media only screen and (min-width: @widescreenMonitor) {
    .text-content {
      div {
        font-size: 3.25rem;
        line-height: 3.5rem;
        margin: 0.5em;
      }
      p {
        font-size: 1.75rem;
        line-height: 2rem;
        margin: 0 0.25em 0.75em 0.25em;
      }
    }
  }
}
