@import "../../styles/less/variables.less";

#news-details {
  .news-details-photo {
    height: 100%;
    width: 100%;
  }
  .news-details-content {
    border-radius: 0%;
    margin: 0 1rem;
    white-space: pre-wrap;

    h2 {
      font-size: 5rem;
      line-height: 5rem;
      margin: 1rem;
      text-transform: uppercase;
    }

    .news {
      padding: 0 0 1rem 0!important;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .disqus {
      padding: 1rem 1rem !important;
      margin-bottom: 1rem !important;
      background: @color-senary;
    }

    @media only screen and (min-width: @verySmallMobile) and (max-width: @largeMobileBreakpoint) {
      h2 {
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin: 1rem;
      }
      .news {
        font-size: 1rem;
        line-height: 1.5rem;
        // padding: 0 !important;
      }
    }
    @media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
      h2 {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 1rem;
      }
      .news {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
      h2 {
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin: 1rem;
      }
      .news {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    @media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
      h2 {
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin: 1rem;
      }
      .news {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    @media only screen and (min-width: @largeMonitor) and (max-width: @wideScreenMonitorBreakpoint) {
      h2 {
        font-size: 3rem;
        line-height: 3.25rem;
        margin: 1rem;
      }
      .news {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }
}
