@import "../../styles/less/variables.less";

.team-stats {
  padding: 0 0 0.25em 0;
}

.team-season-summary-grid-title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 0 0.5em 0;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  text-align: center;
}

.team-season-summary-grid {
  max-width: 1240px;
}

.team-season-summary-grid-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 155px !important;
  border-right: 1px solid @color-quaternary;

  &:last-child {
    border-right: none;
  }
}

// 240-320
@media only screen and (min-width: 240px) and (max-width: @smallMobileBreakpoint) {
  .team-season-summary-grid {
    max-width: 200px;
  }
  .team-season-summary-grid-column {
    width: 100px !important;
  }
}

// 320 - 425
@media only screen and (min-width: @smallMobile) and (max-width: @largeMobileBreakpoint) {
  .team-season-summary-grid {
    max-width: 250px;
  }
  .team-season-summary-grid-column {
    width: 125px !important;
  }
}

// 425
@media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
  .team-season-summary-grid {
    max-width: 345px;
  }
  .team-season-summary-grid-column {
    width: 115px !important;
  }
}

// 768
@media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
  .team-season-summary-grid {
    max-width: 480px;
  }
  .team-season-summary-grid-column {
    width: 120px !important;
  }
}

// 992
@media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
  .team-season-summary-grid {
    max-width: 480px;
  }
  .team-season-summary-grid-column {
    width: 120px !important;
  }
}

// 1200
@media only screen and (min-width: @largeMonitor) and (max-width: 1535px) {
  .team-season-summary-grid {
    max-width: 480px;
  }
  .team-season-summary-grid-column {
    width: 120px !important;
  }
}

// > 1536
@media only screen and (min-width: 1536px) and (max-width: 1919px) {
  .team-season-summary-grid {
    max-width: 930px;
  }
  .team-season-summary-grid-column {
    width: 155px !important;
  }
}

.team-season-car-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;

  .team-season-car-model {
    width: calc(33.33%);
    padding: 0 0.125em 0 0;
    line-height: 1.45rem;
  }

  .team-season-car-model-photo {
    max-width: 100%;
  }
}

@media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
  .team-season-car-container {
    .team-season-car-model {
      width: calc(50%);
    }
  }
}
