@import '../../styles/less/variables.less';

#header{
  max-width: @max-resolution;
  background: linear-gradient(90deg, @header-background-primary 20%, #99a7b1 70%, #596065 90%);
  text-align: center;
  margin: 0;
  padding: 0;
  display: block;
  // clear: both;
  // position: absolute;
  // z-index: 3;
}
/* Mobile small*/
@media only screen and (min-width: @verySmallMobile) and (max-width: @mobileBreakpoint) {
  #header {
    margin: 0em;
    width: 100%;
    background: linear-gradient(90deg, @header-background-primary 65%, @header-background-secondary 90%);
  }
}
/* Mobile medium */
@media only screen and (min-width: @mobile) and (max-width: @largeMobileLandscapeBreakpoint) {
  #header {
    margin: 0em;
    width: 100%;
    background: linear-gradient(90deg, @header-background-primary 65%, @header-background-secondary 90%);
  }
}
/* Mobile */
@media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
  #header {
    margin: 0em;
    width: 100%;
    background: linear-gradient(90deg, @header-background-primary 65%, @header-background-secondary 90%);
  }
}
/* Mobile large */
@media only screen and (min-width: @largeMobileLandscape) and (max-width: @tabletBreakpoint) {
  #header {
    margin: 0em;
    width: 100%;
  }
}
/* Tablet */
@media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
  #header{
    width: 100%;
  }
}
/* Tablet, Laptops, Computers */
@media only screen and (min-width: @tablet) {
  #header{
    width: 100%;
  }
}
