@import '../../styles/less/variables.less';

#contest-regulations {
  .contest-regulations-content{
    ol {
      padding: 0 1em 0 2em;
    }

    // @media only screen and (min-width: @verySmallMobile) and (max-width: @mobileBreakpoint) {
    //   font-size: 1rem;
    // }
    // @media only screen and (min-width: @mobile) and (max-width: @largeMobileBreakpoint) {
    //   font-size: 1.1rem;
    // }
    // @media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
    //   font-size: 1.1rem;
    // }
    // @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
    //   font-size: 2rem;
    // }
  }
}
