@import "../../styles/less/variables.less";

#gp-calendar-widget {
  display: none;
  background: linear-gradient(180deg, #72808a 30%, #4b545b 100%);
  padding: 0.5em 0;

  .gp-calendar-widget-content {
    .box-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-evenly;
      padding: 0;

      .box {
        background: @header-background-senary;
        position: relative;
        display: inline-block;
        padding-left: 0.15rem;
        padding-right: 0.15rem;
        vertical-align: top;

        &:hover {
          transform: scale(1.05);
          z-index: 1;
        }

        a:hover {
          color: @font-color;
        }

        .box-header {
          background: @header-background-senary;
          color: @font-color;
          padding: 0.25em 0;
          font-size: 1.125rem;
          font-weight: 600;
          text-transform: uppercase;
          text-align: center;

          div {
            display: inline-block;
          }
        }

        .box-image {
          overflow: hidden;
          box-sizing: border-box;

          img {
            width: 100%;
            transition: all 0.3s;

            &:hover {
              overflow: hidden;
              transform: scale(1.5);
            }
          }
        }

        .box-content {
          .box-description {
            padding: 0.125em 0;
            font-size: 1.05rem;
            text-align: center;
            background: @header-background-septenary;
            text-transform: uppercase;
            font-weight: 600;

            p {
              overflow: hidden;
              max-width: 100%;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          .box-info {
            font-size: 1.05rem;
            color: @font-color;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            margin: 0.25em 0;
          }
        }
      }
    }
  }
  // 1280
  @media only screen and (min-width: @largeMonitor) and (max-width: 1535px) {
    .gp-calendar-widget-content {
      .box-container {
        .box {
          width: 4%;

          .box-header {
            div {
              display: block;
            }
          }

          .box-info {
            font-size: 0.95rem;
          }
        }
      }
    }
  }
  // 1536
  @media only screen and (min-width: 1536px) and (max-width: @wideScreenMonitorBreakpoint) {
    .gp-calendar-widget-content {
      .box-container {
        .box {
          width: 4%;
        }
      }
    }
  }
  // 1920
  @media only screen and (min-width: @widescreenMonitor) {
    .gp-calendar-widget-content {
      .box-container {
        .box {
          width: 4%;
        }
      }
    }
  }
}
// >1280
@media only screen and (min-width: @largeMonitor) {
  #gp-calendar-widget {
    display: block;
  }
}

.completed-gp {
  background: #43484c !important;
  color: @font-color-inverted !important;
}

.completed-gp-description {
  background: #adadad !important;
  color: @font-color !important;
}

.active-gp {
  background: #781009 !important;
  color: @font-color-inverted !important;
}

.active-gp-description {
  background: #8b4b47 !important;
  color: @font-color-inverted !important;
}

.gp-calendar-widget-pic {
  width: 12rem;
  height: 12rem;
}