@import "../../styles/less/variables.less";

#last-gp {
  margin-top: 0;

  .last-gp-header {
    position: relative;
    padding: @header-padding;
    background: @color-secondary;

    h2 {
      font-family: @font-family-header;
      font-size: @section-header-font-size;
      color: @header-inverted-color;
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    h3 {
      font-family: @font-family-header;
      font-size: @section-subheader-font-size;
      color: @subheader-inverted-color;
      margin: 0 0 0 0;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      width: 100%;
    }
  }
  .last-gp-subheader {
    background: @header-background-septenary;

    .last-gp-subheader-circuit-name {
      font-size: 1.5em;
      font-weight: 600;
      color: @font-color;
      text-transform: uppercase;
      text-align: center;
      padding: 0;
      margin: 0;
    }
    h4 {
      font-size: @section-subheader-font-size;
      color: @font-color;
      background: @header-background-septenary;
      margin: 0;
      text-transform: uppercase;
      text-align: center;
      padding: 0.125em 0;
    }
  }
  .last-gp-banner {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: @section-header-height-widescreen;

    a {
      width: 100%;
    }

    img {
      object-fit: cover;
      height: @section-header-height-widescreen;
      width: 100%;
    }

    @media only screen and (min-width: @verySmallMobile) and (max-width: @mobileBreakpoint) {
      //male
      height: @section-header-height-small-mobile !important;
      img {
        height: @section-header-height-small-mobile !important;
      }
    }
    @media only screen and (min-width: @mobile) and (max-width: @tabletBreakpoint) {
      // iphone 4, 5, 6,7,8,X
      height: @section-header-height-mobile !important;
      img {
        height: @section-header-height-mobile !important;
      }
    }
    @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
      // ipad, ipad pro
      height: @section-header-height-tablet !important;
      img {
        height: @section-header-height-tablet !important;
      }
    }
    @media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
      // ipad, ipad pro
      height: @section-header-height !important;
      img {
        height: @section-header-height !important;
      }
    }
    @media only screen and (min-width: @largeMonitor) and (max-width: @wideScreenMonitorBreakpoint) {
      //mcbook air, pro,  desktop small
      height: @section-header-height !important;
      img {
        height: @section-header-height !important;
      }
    }

    .last-gp-season {
      display: inline-block;
      background: @header-background-quaternary;
      height: 3.5em;
      top: 0;
      margin: 0;
      padding: 0.25em;
      z-index: 1;
      position: absolute;
      left: 0;

      .last-gp-season-title {
        font-size: 1.125rem;
        text-transform: uppercase;
        font-weight: 600;
        display: block;
        color: @font-color-inverted;
        text-align: center;
      }
      .last-gp-season-year {
        color: @font-color-inverted;
        position: relative;
        font-size: 3rem;
        top: 0.5rem;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
      }
    }
  }
  .last-gp-content {
    margin: 0 0 0 0;
    line-height: normal;

    p {
      font-size: 1.25rem;
    }
    div.ui.divider {
      display: none;
    }
    @media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) {
      div.ui.divider {
        display: block;
        margin-bottom: 2rem;
      }
    }

    h2 {
      background: @color-septenary;
      margin: 0;
      padding: 0.125em 0;
      font-family: @font-family-header;
      font-size: @section-subheader-font-size;
      text-align: center;
    }

    .last-gp-info {
      display: block;
      background: @font-color-inverted;
    }

    .last-gp-info-mobile {
      display: none;
    }
  }

  /* Mobile small*/
  @media only screen and (min-width: @verySmallMobile) and (max-width: @mobileBreakpoint) {
    margin-top: 0;
    .last-gp-header {
      h2 {
        font-size: @section-header-font-size-very-small-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-very-small-mobile;
      }
    }
    .last-gp-banner {
      .last-gp-season {
        height: 50px;
        top: 0;
        margin: 0;
        padding: 0 0.25rem;

        .last-gp-season-title {
          font-size: 1rem;
          position: relative;
          top: 0;
        }

        .last-gp-season-year {
          font-size: 2.5rem;
          top: 0.125em;
        }
      }
    }
    .last-gp-content {
      padding: 0.25em 0 0 0;
      background: @header-background-septenary;

      .ui.segment {
        padding: 0;
        margin: 0 0.1em;
      }

      .last-gp-info {
        display: none;
      }

      .last-gp-info-mobile {
        display: block;

        .last-gp-driver-box {
          margin: 0 0.125em;
        }
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
  /* Mobile*/
  @media only screen and (min-width: @mobile) and (max-width: @largeMobileBreakpoint) {
    margin-top: 0;
    .last-gp-header {
      h2 {
        font-size: @section-header-font-size-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-mobile;
      }
    }
    .last-gp-banner {
      .last-gp-season {
        height: 50px;
        top: 0;
        margin: 0;
        padding: 0 0.25rem;

        .last-gp-season-title {
          font-size: 1rem;
          position: relative;
          top: 0;
        }

        .last-gp-season-year {
          font-size: 2.5rem;
          top: 0.125em;
        }
      }
    }
    .last-gp-content {
      padding: 0.25em 0 0 0;
      background: @header-background-septenary;

      .ui.segment {
        padding: 0;
        margin: 0 0.1em;
      }

      .last-gp-info {
        display: none;
      }

      .last-gp-info-mobile {
        display: block;

        .last-gp-driver-box {
          margin: 0 0.1em;
        }
      }

      p {
        font-size: 1.25rem;
      }
    }
  }
  /* Mobile large */
  @media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
    margin-top: 0;
    .last-gp-header {
      h2 {
        font-size: @section-header-font-size-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-mobile;
      }
    }
    .last-gp-banner {
      .last-gp-season {
        height: 50px;
        top: 0;
        margin: 0;
        padding: 0 0.25rem;

        .last-gp-season-title {
          font-size: 1rem;
          position: relative;
          top: 0;
        }

        .last-gp-season-year {
          font-size: 2.5rem;
          top: 0.125em;
        }
      }
    }
    .last-gp-content {
      padding: 0.25em 0 0 0;
      background: @header-background-septenary;

      .ui.segment {
        padding: 0;
        margin: 0 0.1em;
      }

      .last-gp-info {
        display: none;
      }

      .last-gp-info-mobile {
        display: block;

        .last-gp-driver-box {
          margin: 0 0.1em;
        }
      }

      p {
        font-size: 1.25rem;
      }
    }
  }
  /* Tablet */
  @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
    margin-top: 0.25em;
    .last-gp-header {
      h2 {
        font-size: @section-header-font-size-tablet;
      }
      h3 {
        font-size: @section-subheader-font-size-tablet;
      }
    }
    .last-gp-subheader {
      .last-gp-subheader-circuit-name {
        font-size: 1.25em;
      }
    }
    .last-gp-banner {
      .last-gp-season {
        height: 4.75rem;
        top: 0;
        margin: 0;
        padding: 0.5rem;

        .last-gp-season-title {
          font-size: 1.125rem;
        }

        .last-gp-season-year {
          font-size: 3rem;
          top: 0.5rem;
        }
      }
    }
  }
  /* Small Monitor */
  @media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
    margin-top: 0;
    .last-gp-subheader {
      .last-gp-subheader-circuit-name {
        font-size: 1.25em;
      }
    }
    .last-gp-banner {
      .last-gp-season {
        height: 4.75rem;
        top: 0;
        margin: 0;
        padding: 0.5rem;

        .last-gp-season-title {
          font-size: 1.125rem;
        }

        .last-gp-season-year {
          font-size: 3rem;
          top: 0.5rem;
        }
      }
    }
  }
  /* Widescreen Monitor */
  @media only screen and (min-width: @widescreenMonitor) {
    .last-gp-subheader {
      .last-gp-subheader-circuit-name {
        font-size: 2em;
      }
    }
    .last-gp-banner {
      .last-gp-season {
        height: 7rem;
        top: 0;
        margin: 0;
        padding: 0.75rem;

        .last-gp-season-title {
          font-size: 1.5rem;
        }

        .last-gp-season-year {
          font-size: 4.5rem;
          top: 1.5rem;
        }
      }
    }
  }
}
