@import "../../styles/less/variables.less";

#next-gp-countdown {
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
  color: @font-color;
  background: @header-background-senary;
  line-height: initial;
  width: 100%;
  padding: 0;
}
@media only screen and (min-width: @verySmallMobile) and (max-width: @mobileBreakpoint) {
  #next-gp-countdown {
    padding: 0.25rem 0;
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: @mobile) and (max-width: @tabletBreakpoint) {
  #next-gp-countdown {
    padding: 0.25rem 0;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
  #next-gp-countdown {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
  #next-gp-countdown {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: @widescreenMonitor)  {
  #next-gp-countdown {
    font-size: 2rem;
  }
}
