@import "../../styles/less/variables.less";

.highcharts-figure {
  margin: 0;
}

.highcharts-subtitle-value {
  font-size: 5em;
}

.highcharts-subtitle-label {
  font-size: 1.5em;
}

.charts-rounds-container{
    text-align: center;
    margin-bottom: 1em;
}
