@import "../../styles/less/variables.less";

.gpseason-podium {
  img {
    height: 100%;
    width: 100%;
  }

  .ui.statistic {
    margin: 0 !important;
  }
}

.gpseason-stats-content {
  padding: 0;

  h2 {
    text-transform: uppercase;
  }
  a {
    margin: 0 auto;
  }
}

.gpseason-points {
  margin-bottom: 0;
}

.gpseason-stats {
  padding: 0 0 0 0 ;
}

.gpseason-race {
  margin-bottom: 0;
}

.gpseason-grand-prix {
  text-align: center;
  margin: 1em 0;

  .gpseason-grand-prix-flag {
    display: inline-block;
    margin: 0.125em;

    img {
      border: 1px solid rgb(216, 216, 216);
    }
  }
}

.gpseason-models-box-model {
  background: #000;
  color: @font-color-inverted;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

#gpseason-calendar {
  margin-top: 0.5em;

  .gpseason-calendar-header {
    position: relative;
    padding: @header-padding;
    background: linear-gradient(180deg, @header-background-senary 0%, @header-background-septenary 100%);

    h2 {
      font-family: @font-family-header;
      font-size: @section-header-font-size;
      color: @font-color-inverted;
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    h3 {
      font-family: @font-family-header;
      font-size: @section-subheader-font-size;
      color: @color-primary;
      margin: 0 0 0 0;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      width: 100%;
    }
  }
  .gpseason-calendar-content {
    background: @header-background-septenary;

    .box-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      padding: 0;

      .box {
        width: calc(100vw / 18.1);
        position: relative;
        display: inline-block;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        vertical-align: top;

        .box-image {
          overflow: hidden;
          box-sizing: border-box;

          img {
            width: 100%;
            transition: all 0.3s;
            border: 2px solid @color-septenary;
          }
        }

        .box-content {
          padding: 0.5em;
          color: @font-color-inverted;

          .box-header {
            font-size: 1.25rem;
            line-height: 1.25rem;
            margin: 0;
            text-transform: uppercase;
            font-weight: 600;

            a {
              color: @color-septenary;
            }
          }
          .box-description {
            margin: 0.5em 0;
            font-size: 1.25rem;
            line-height: 1.25rem;
          }
          .box-info {
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: @font-color;
          }
        }

        .box-extra {
          background: @color-septenary;
          color: @font-color;
          padding: 0.25em 0.25em;
          font-size: 1.25rem;
          text-align: center;
          font-weight: 600;
          text-transform: uppercase;
          white-space: nowrap;
        }
        .completed-gp {
          opacity: 0.4;
        }
      }
    }
  }
  // 240
  @media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
    .gpseason-calendar-content {
      .box-container {
        .box {
          .box-content {
            .box-header {
              font-size: 1rem;
              line-height: 1rem;
            }
            .box-description {
              font-size: 1rem;
              line-height: 1rem;
            }
            .box-info {
              font-size: 1rem;
              line-height: 1rem;
            }
          }

          .box-extra {
            font-size: 1rem;
          }
        }
      }
    }
  }
  // 320
  @media only screen and (min-width: @smallMobile) and (max-width: @largeMobileBreakpoint) {
    .gpseason-calendar-content {
      .box-container {
        .box {
          .box-content {
            .box-header {
              font-size: 1.25rem;
              line-height: 1.25rem;
            }
            .box-description {
              font-size: 1.25rem;
              line-height: 1.25rem;
            }
            .box-info {
              font-size: 1.25rem;
              line-height: 1.25rem;
            }
          }

          .box-extra {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
  // 425
  @media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
    .gpseason-calendar-content {
      .box-container {
        .box {
          .box-content {
            .box-header {
              font-size: 1.25rem;
              line-height: 1.25rem;
            }
            .box-description {
              font-size: 1.25rem;
              line-height: 1.25rem;
            }
            .box-info {
              font-size: 1.25rem;
              line-height: 1.25rem;
            }
          }

          .box-extra {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
  // 768
  @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
    margin-top: 0.75em;

    .gpseason-calendar-content {
      .box-container {
        .box {
          .box-content {
            .box-header {
              font-size: 1.25rem;
              line-height: 1.25rem;
            }
            .box-description {
              font-size: 1.25rem;
              line-height: 1.25rem;
            }
            .box-info {
              font-size: 1.25rem;
              line-height: 1.25rem;
            }
          }

          .box-extra {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
  /* 992px */
  @media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
    margin-top: 0.75em;

    .gpseason-calendar-content {
      .box-container {
        .box {
          .box-content {
            .box-header {
              font-size: 1.25rem;
              line-height: 1.25rem;
            }
            .box-description {
              font-size: 1.25rem;
              line-height: 1.25rem;
            }
            .box-info {
              font-size: 1.25rem;
              line-height: 1.25rem;
            }
          }

          .box-extra {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
  // 1280
  @media only screen and (min-width: @largeMonitor) and (max-width: @wideScreenMonitorBreakpoint) {
    .gpseason-calendar-content {
      .box-container {
        .box {
          .box-content {
            .box-header {
              font-size: 1.25rem;
              line-height: 1.25rem;
            }
            .box-description {
              font-size: 1.25rem;
              line-height: 1.25rem;
            }
            .box-info {
              font-size: 1.25rem;
              line-height: 1.25rem;
            }
          }

          .box-extra {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
  // 1920
  @media only screen and (min-width: @widescreenMonitor) {
    .gpseason-calendar-content {
      .box-container {
        .box {
          .box-content {
            padding: 1em 0.125em;

            .box-header {
              font-size: 1.125rem;
              margin: 0;
              line-height: 1.25rem;
            }
            .box-description {
              font-size: 1.25rem;
              margin: 0.5em 0;
            }
            .box-info {
              font-size: 1.25rem;
              line-height: 1.5rem;
            }
          }

          .box-extra {
            padding: 0.25em 0;
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  //240
  @media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
    .gpseason-calendar-content {
      .box-container {
        .box {
          width: calc(100vw / 2.1);
        }
      }
    }
  }
  // 320
  @media only screen and (min-width: @smallMobile) and (max-width: @tabletBreakpoint) {
    .gpseason-calendar-content {
      .box-container {
        .box {
          width: calc(100vw / 2.1);
        }
      }
    }
  }
  // 768
  @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
    .gpseason-calendar-content {
      .box-container {
        .box {
          width: calc(100vw / 4.3);
        }
      }
    }
  }
  // 992
  @media only screen and (min-width: @computerBreakpoint) and (max-width: @largeMonitorBreakpoint) {
    .gpseason-calendar-content {
      .box-container {
        .box {
          width: calc(100vw / 6.9);
        }
      }
    }
  }
  // 1280
  @media only screen and (min-width: @largeMonitor) and (max-width: 1535px) {
    .gpseason-calendar-content {
      .box-container {
        .box {
          width: calc(100vw / 7.1);
          .box-extra {
            white-space: nowrap;
          }
        }
      }
    }
  }
  // 1536
  @media only screen and (min-width: 1536px) and (max-width: @wideScreenMonitorBreakpoint) {
    .gpseason-calendar-content {
      .box-container {
        .box {
          width: calc(100vw / 10.1);
          .box-extra {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.gpseason-add-info {
  color: @color-tertiary;
}