@import '../../styles/less/variables.less';

.gp-season-places-filters {
  margin: 0.5rem;
  width: 110px;
}
.class-drivers-places{
    margin-bottom: 1em;

    tbody td:last-child {
      font-weight: normal !important;
    }
}
.class-teams-places{
    tbody td:last-child {
      font-weight: normal !important;
    }
}
