@import "../../styles/less/variables.less";

@footer-title-color: #ffffff;
@footer-text-color: #969696;
@footer-active-link-color: #FFF;

#footer {
  padding: 1em 0.25em 0 0.25em;
  color: @footer-text-color;
  font-size: 1.25rem;
  line-height: 1.25rem;
  background: #2e2e2e;

  .footer-logo {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 0;
    clear: both;

    .title {
      margin: 0 1em;
      color: @footer-title-color;
    }

    img {
      display: inline-block;
      padding-bottom: 0.5em;
      width: 5rem;
      height: auto;
      margin: 0 auto;
    }

    p {
      margin: 1em 1em;
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    a {
      color: @footer-text-color;
      // background: #fff;
      text-decoration: underline;

      &:hover {
        color: @footer-active-link-color;
      }
    }
  }

  .footer-links {
    display: block;
    padding: 0;
    margin: 1em 1em;
    letter-spacing: 1px;

    .title {
      color: @footer-title-color;
      text-transform: uppercase;
    }

    :first-child ul {
      padding: 0;
      margin: 0;
    }

    li,
    a {
      color: @footer-text-color;
      list-style-type: none;
    }

    a:hover {
      color: @footer-active-link-color;
    }

    .footer-active-link {
      color: @footer-active-link-color;
    }

    > li {
      vertical-align: top;
      box-sizing: border-box;
      line-height: 1.75rem;
      padding: 0.25em;
    }
  }

  @media only screen and (max-width: @tabletBreakpoint) {
    .footer-logo {
      text-align: center;
    }
    .footer-links {
      text-align: center;
      margin-top: 1rem;

      > li {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }
    }
  }
  @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
    .footer-logo {
      img {
        width: 3rem;
      }
    }
    .footer-links {
      > li {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }
    }
  }
  @media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
    .footer-logo {
      img {
        width: 3rem;
      }
    }
    .footer-links {
      > li {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }
    }
  }
  @media only screen and (min-width: @largeMonitor) and (max-width: @wideScreenMonitorBreakpoint) {
    .footer-logo {
      img {
        width: 4rem;
      }
    }
    .footer-links {
      > li {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }
    }
  }
  @media only screen and (min-width: @widescreenMonitor) {
    .footer-logo {
      img {
        width: 5rem;
      }
    }
  }

  .footer-copyrights {
    width: 100%;
    text-align: center;
    color: @footer-text-color;
    margin-bottom: 10px;
    hr {
      margin-top: 0px;
      margin-bottom: 10px;
      border: 0;
      border-top: 1px solid #4c4c4c;
    }
  }

  .social-icons {
    padding: 0;
    margin: 1em 0;

    li {
      display: inline-block;
      margin-left: 0px;

      a {
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.7);

        &:hover {
          text-decoration: none;
          color: @footer-active-link-color;
          cursor: pointer;
        }
      }
    }
  }

  @media only screen and (max-width: @tabletBreakpoint) {
    .footer-copyrights {
      margin-bottom: 1em;
    }
    .social-icons {
      margin-left: 0;
      margin-right: auto;
      display: block;
      padding: 0;
      text-align: center;
    }
  }

  @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
    .footer-copyrights {
      font-size: 0.7rem;
    }
    .social-icons {
      float: left;
    }
  }

  &:before {
    content: " ";
    display: table;
  }
}
