@import "../../styles/less/variables.less";

#gp-calendar {
  

  .gp-calendar-header {
    position: relative;
    padding: @header-padding;
    background: linear-gradient(180deg, #ebdda7 0%, #b5ab82 100%);

    h2 {
      font-family: @font-family-header;
      font-size: 3rem;
      color: @header-inverted-color;
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    h3 {
      font-family: @font-family-header;
      font-size: 2rem;
      color: @font-color-inverted;
      margin: 0 0 0 0;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      width: 100%;
    }
  }
  .gp-calendar-content {
    background: @header-background-septenary;

    .box-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      padding: 0;

      .box {
        width: calc(100% / 6.1);
        position: relative;
        display: inline-block;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        vertical-align: top;

        .box-image {
          overflow: hidden;
          box-sizing: border-box;

          img {
            width: 100%;
            transition: all 0.3s;
            border: 2px solid @header-background-senary;

            &:hover {
              overflow: hidden;
              transform: scale(1.5);
              border: 2px solid @header-background-senary;
            }
          }
        }

        .box-content {
          padding: 0.5em;
          color: @font-color;

          .box-header {
            font-size: 1.125rem;
            margin: 0;
            line-height: 1.5rem;
            text-transform: uppercase;
            font-weight: 600;

            a {
              color: @header-inverted-color;
            }
          }
          .box-description {
            margin: 0.25em 0;
            font-size: 1.25rem;
            line-height: 1.25rem;
          }
          .box-info {
            font-size: 1.25rem;
            color: @font-color;
            text-transform: uppercase;
          }
        }

        .box-extra {
          background: @header-background-senary;
          color: @font-color;
          padding: 0.5em 0.2em;
          font-size: 1.125rem;
          font-weight: 600;
          text-transform: uppercase;
        }
        .completed-gp {
          // opacity: 0.4;
          background: @color-septenary;
          
        }
      }
    }
  }
  // 240
  @media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
    .gp-calendar-content {
      .box-container {
        .box {
          .box-content {
            padding: 0.25em 0.125em;

            .box-header {
              font-size: 0.8rem;
              margin: 0;
              line-height: normal;
            }
            .box-description {
              font-size: 0.75rem;
              margin: 0;
              line-height: normal;
            }
            .box-info {
              font-size: 0.85rem;
              line-height: normal;
            }
          }

          .box-extra {
            padding: 0.125rem 0.1rem;
            font-size: 0.85rem;
          }
        }
      }
    }
  }
  // 320
  @media only screen and (min-width: @smallMobile) and (max-width: @mobileBreakpoint) {
    .gp-calendar-content {
      .box-container {
        .box {
          .box-content {
            padding: 0.25em 0.125em;

            .box-header {
              font-size: 1.125rem;
              margin: 0;
              line-height: normal;
            }
            .box-description {
              font-size: 1rem;
              margin: 0;
              line-height: normal;
            }
            .box-info {
              font-size: 1.125rem;
              line-height: normal;
            }
          }

          .box-extra {
            padding: 0.25rem 0.125rem;
            font-size: 1rem;
          }
        }
      }
    }
  }
  // 390, 425
  @media only screen and (min-width: @mobile) and (max-width: @tabletBreakpoint) {
    .gp-calendar-content {
      .box-container {
        .box {
          .box-content {
            padding: 0.25em 0.125em;

            .box-header {
              font-size: 1.125rem;
              margin: 0;
              line-height: normal;
            }
            .box-description {
              font-size: 1rem;
              margin: 0;
              line-height: normal;
            }
            .box-info {
              font-size: 1.125rem;
              line-height: normal;
            }
          }

          .box-extra {
            padding: 0.25rem 0.125rem;
            font-size: 1rem;
          }
        }
      }
    }
  }
  // 768
  @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
    .gp-calendar-content {
      .box-container {
        .box {
          .box-content {
            padding: 0.25em 0.125em;

            .box-header {
              font-size: 1.125rem;
              margin: 0;
              line-height: normal;
            }
            .box-description {
              font-size: 1rem;
              margin: 0;
              line-height: normal;
            }
            .box-info {
              font-size: 1.125rem;
              line-height: normal;
            }
          }

          .box-extra {
            padding: 0.25rem 0.125rem;
            font-size: 1rem;
          }
        }
      }
    }
  }
  // 1920
  @media only screen and (min-width: @widescreenMonitor) {
    .gp-calendar-content {
      .box-container {
        .box {
          .box-content {
            padding: 0.5em;

            .box-header {
              font-size: 1.25rem;
              margin: 0;
              line-height: normal;
            }
            .box-description {
              font-size: 1.35rem;
              margin: 0;
              line-height: normal;
            }
            .box-info {
              font-size: 1.25rem;
              margin: 0;
              line-height: normal;
            }
          }

          .box-extra {
            padding: 0.25em 0;
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  // 240
  @media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
    .gp-calendar-header {
      h2 {
        font-size: @section-header-font-size-very-small-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-very-small-mobile;
      }
    }
    .gp-calendar-content {
      .box-container {
        .box {
          width: calc(100% / 2.1);
        }
      }
    }
  }
  // 320
  @media only screen and (min-width: @smallMobile) and (max-width: @tabletBreakpoint) {
    .gp-calendar-header {
      h2 {
        font-size: @section-header-font-size-small-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-small-mobile;
      }
    }
    .gp-calendar-content {
      .box-container {
        .box {
          width: calc(100% / 2.1);
        }
      }
    }
  }
  // 768
  @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
    .gp-calendar-header {
      h2 {
        font-size: 1.75rem;
      }
      h3 {
        font-size: 1.25rem;
      }
    }
    .gp-calendar-content {
      .box-container {
        .box {
          width: calc(100% / 3.1);
        }
      }
    }
  }
  // 992
  @media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
    .gp-calendar-header {
      h2 {
        font-size: 1.75rem;
      }
      h3 {
        font-size: 1.25rem;
      }
    }
    .gp-calendar-content {
      .box-container {
        .box {
          width: calc(100% / 4.1);
        }
      }
    }
  }
  // 1280
  @media only screen and (min-width: @largeMonitor) and (max-width: 1535px) {
    .gp-calendar-header {
      h2 {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 1.5rem;
      }
    }
    .gp-calendar-content {
      .box-container {
        .box {
          width: calc(100% / 4.1);
        }
      }
    }
  }
  // 1536
  @media only screen and (min-width: 1536px) and (max-width: @wideScreenMonitorBreakpoint) {
    .gp-calendar-header {
      h2 {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 1.5rem;
      }
    }
    .gp-calendar-content {
      .box-container {
        .box {
          width: calc(100% / 6.1);
        }
      }
    }
  }
  // 1920
  @media only screen and (min-width: @widescreenMonitor)  {
    .gp-calendar-content {
      .box-container {
        .box {
          width: calc(100% / 6.1);
        }
      }
    }
  }
}
