@import "../../styles/less/variables.less";

.stats-widget-content {
  margin: 0;

  .content {
    text-align: left;
  }

  p {
    font-size: 0.9rem;
    line-height: 1rem;
  }

  .link {
    font-size: 0.75rem;
    line-height: normal;
    text-align: right;
    width: 100%;
    margin: 0;
    padding: 0 0.5em 0 0;
    background: @header-background-tertiary;
    color: @font-color-inverted;
    text-transform: uppercase;
    font-weight: 400;
  }

  /* Mobile */
  @media only screen and (min-width: @mobile) and (max-width: @largeMobileBreakpoint) {
    margin: 0;
    p {
      font-size: 1.125rem;
      line-height: 1.25rem;
    }

    .link {
      font-size: 0.9rem;
      padding: 0 0.5em 0 0;
    }
  }

  /* Mobile large*/
  @media only screen and (min-width: @largeMobile) and (max-width: @tabletBreakpoint) {
    margin: 0;
    p {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }

    .link {
      font-size: 0.9rem;
      padding: 0 0.5em 0 0;
    }
  }

  /* Tablet */
  @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
    margin: 0 0 0.25em 0;

    p {
      font-size: 1.125rem;
      line-height: 1.25rem;
    }

    .link {
      font-size: 0.9rem;
      padding: 0 0.5em 0 0;
    }
  }

  /* Small Monitor */
  @media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
    margin: 0 0 0 0;

    p {
      font-size: 1.25rem;
      line-height: inherit;
    }

    .link {
      font-size: 0.9rem;
      padding: 0 0.5em 0 0;
    }
  }

  /* Large Monitor */
  @media only screen and (min-width: @largeMonitor) and (max-width: @wideScreenMonitorBreakpoint) {
    // margin: 1.25em 0 0.25em 0;

    p {
      font-size: 1.35rem;
      line-height: inherit;
    }

    .link {
      font-size: 1.125rem;
      padding: 0 0.5em 0 0;
    }
  }

  /* Widescreen Monitor */
  @media only screen and (min-width: @widescreenMonitor) {
    p {
      font-size: 1.35rem;
      line-height: inherit;
    }

    .link {
      font-size: 1.25rem;
      padding: 0 0.5em 0 0;
    }
  }
}
