@import "../../styles/less/variables.less";

.gpstats-details-photo {
  height: fit-content;
  width: 100%;
}

.gpstats-races {
  margin-bottom: 1em;
}

.gpstats-starts,
.gpstats-wins,
.gpstats-podium,
.gpstats-points,
.gpstats-polepos,
.gpstats-bestlaps {
  .drivers-container {
    padding-right: 0.25rem !important;
  }
  .teams-container {
    padding-left: 0.25rem !important;
  }
}

.gpstats-add-info {
  color: @color-tertiary;
}
