@import "../../styles/less/variables.less";
.class-gp {
  .awards {
    line-height: 0;
  }
}
.contest-class-gp-stats {
  background: linear-gradient(180deg, @color-senary 25%, @font-color 100%);
  padding: 0 0.5em;

  a {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: @color-tertiary;
  }
  @media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) {
    a {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
  @media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
    a {
      font-size: 0.9rem;
      line-height: 1.25rem;
    }
  }
  @media only screen and (min-width: @widescreenMonitor) {
    a {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }
  }
}

.contest-class-gp-statistic-container {
  border-bottom: 1px solid @color-quinary;
  padding: 1em 0;
}

@media only screen and (min-width: @verySmallMobile) and (max-width: @largeMonitorBreakpoint) {
  // iphone 4,5,6,7,8,X
  .class-mobile {
    display: block;
    i.icon {
      margin-right: -3px;
    }
  }
  .class-desktop {
    display: none;
  }
}
@media only screen and (min-width: @largeMonitor) {
  //mcbook air, pro,  desktop small
  .class-mobile {
    display: none;
  }
  .class-desktop {
    display: block;
  }
}
