@import "../../styles/less/variables.less";

.driver-photo {
  height: 100%;
  width: 100%;
}
.driver-models-fullname-header {
  text-align: center;
  margin: 0 0.25em 0.75em 0.25em;
}
.driver-models-box-model {
  background: #000;
  color: @font-color-inverted;
  font-size: 1.25rem;
}
.driver-models-box-teams{
  color: @font-color;
  font-size: 0.9rem;
}
