@import "../../styles/less/variables.less";

#next-gp {
  .next-gp-header {
    position: relative;
    padding: @header-padding;
    background: @color-secondary;

    h2 {
      font-family: @font-family-header;
      font-size: @section-header-font-size;
      color: @header-inverted-color;
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    h3 {
      font-family: @font-family-header;
      font-size: @section-subheader-font-size;
      color: @subheader-inverted-color;
      margin: 0;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      width: 100%;
    }
    h4 {
      font-family: @font-family-header;
      font-size: @section-subheader-font-size;
      color: @font-color-inverted;
      background: @color-septenary;
      margin: 0;
      text-transform: uppercase;
      text-align: center;
      padding: 0.125em 0;
    }
  }
  .next-gp-subheader {
    background: @header-background-septenary;

    .next-gp-subheader-circuit-name {
      font-size: 1.5em;
      font-weight: 600;
      color: @font-color;
      text-transform: uppercase;
      text-align: center;
      padding: 0;
      margin: 0;
    }
  }
  .next-gp-banner {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: @section-header-height-widescreen;

    a {
      width: 100%;
    }

    img {
      object-fit: cover;
      height: @section-header-height-widescreen;
      overflow: hidden;
      width: 100%;
    }

    @media only screen and (min-width: @verySmallMobile) and (max-width: @mobileBreakpoint) {
      //male
      height: @section-header-height-small-mobile !important;
      img {
        height: @section-header-height-small-mobile !important;
      }
    }
    @media only screen and (min-width: @mobile) and (max-width: @tabletBreakpoint) {
      // iphone 4, 5, 6,7,8,X
      height: @section-header-height-mobile !important;
      img {
        height: @section-header-height-mobile !important;
      }
    }
    @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
      // ipad, ipad pro
      height: @section-header-height-tablet !important;
      img {
        height: @section-header-height-tablet !important;
      }
    }
    @media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
      // ipad, ipad pro
      height: @section-header-height !important;
      img {
        height: @section-header-height !important;
      }
    }
    @media only screen and (min-width: @largeMonitor) and (max-width: @wideScreenMonitorBreakpoint) {
      //mcbook air, pro,  desktop small
      height: @section-header-height !important;
      img {
        height: @section-header-height !important;
      }
    }

    .next-gp-season {
      display: inline-block;
      background: @header-background-quaternary;
      height: 3.5em;
      top: 0;
      margin: 0;
      padding: 0.25em;
      z-index: 1;
      position: absolute;
      right: 0;

      .next-gp-season-title {
        font-size: 1.125rem;
        text-transform: uppercase;
        font-weight: 600;
        display: block;
        color: @font-color-inverted;
        text-align: center;
      }
      .next-gp-season-year {
        color: @font-color-inverted;
        position: relative;
        font-size: 3rem;
        top: 0.5rem;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
      }
    }
  }
  .next-gp-date {
    background-color: #ffeca5;
    color: @font-color;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.25em;
  }
  .next-gp-content {
    line-height: normal;
    background: @color-octal;

    h2 {
      background: @color-septenary;
      margin: 0;
      padding: 0.125em 0;
      font-family: @font-family-header;
      font-size: @section-subheader-font-size;
      text-align: center;
    }

    .next-gp-map {
      aspect-ratio: 6 / 5;

      img {
        margin: 0 auto;
      }
    }

    .next-gp-stats {
      text-transform: uppercase;
      background: linear-gradient(180deg, @color-senary 25%, @font-color 100%);

      > h3 {
        color: @font-color-inverted;
        background: @header-background-secondary;
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
        padding: 0.125em 0;
      }

      h4 {
        font-size: 1.125rem;
        margin: 0.25em 0;

        a {
          color: @font-color-inverted;

          &:hover {
            color: @color-quinary;
          }
        }
      }

      #driver-starts,
      #driver-wins,
      #driver-points,
      #driver-podium,
      #driver-polepos,
      #driver-bestlaps {
        margin-bottom: 2em;
        margin: 0 0.125em;
      }
    }
  }

  // 240
  @media only screen and (min-width: @verySmallMobile) and (max-width: @smallMobileBreakpoint) {
    .next-gp-header {
      h2 {
        font-size: @section-header-font-size-very-small-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-very-small-mobile;
      }
    }
    .next-gp-banner {
      .next-gp-season {
        height: 50px;
        top: 0;
        margin: 0;
        padding: 0 0.25rem;

        .next-gp-season-title {
          font-size: 1rem;
          position: relative;
          top: 0;
        }

        .next-gp-season-year {
          font-size: 2.5rem;
          top: 0.125em;
        }
      }
    }
    .next-gp-date {
      font-size: 1rem;
      padding: 0.25em;
    }
    .next-gp-content {
      margin: 0;

      .next-gp-stats {
        > h3 {
          font-size: 1.25rem;
        }
        h4 {
          font-size: 1rem;
        }
      }
    }
  }
  // 320
  @media only screen and (min-width: @smallMobile) and (max-width: @mobileBreakpoint) {
    .next-gp-header {
      h2 {
        font-size: @section-header-font-size-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-mobile;
      }
    }
    .next-gp-banner {
      .next-gp-season {
        height: 50px;
        top: 0;
        margin: 0;
        padding: 0 0.25rem;

        .next-gp-season-title {
          font-size: 1rem;
          position: relative;
          top: 0;
        }

        .next-gp-season-year {
          font-size: 2.5rem;
          top: 0.125em;
        }
      }
    }
    .next-gp-date {
      font-size: 1.25rem;
      padding: 0.25em;
    }
    .next-gp-content {
      margin: 0;

      .next-gp-stats {
        > h3 {
          font-size: 1.25rem;
        }
        h4 {
          font-size: 1.25rem;
        }
      }
    }
  }
  // 390, 425
  @media only screen and (min-width: @mobile) and (max-width: @tabletBreakpoint) {
    .next-gp-header {
      h2 {
        font-size: @section-header-font-size-mobile;
      }
      h3 {
        font-size: @section-subheader-font-size-mobile;
      }
    }
    .next-gp-banner {
      .next-gp-season {
        height: 50px;
        top: 0;
        margin: 0;
        padding: 0 0.25rem;

        .next-gp-season-title {
          font-size: 1rem;
          position: relative;
          top: 0;
        }

        .next-gp-season-year {
          font-size: 2.5rem;
          top: 0.125em;
        }
      }
    }
    .next-gp-date {
      font-size: 1.25rem;
      padding: 0.25em;
    }
    .next-gp-content {
      margin: 0;

      .next-gp-stats {
        > h3 {
          font-size: 1.25rem;
        }
        h4 {
          font-size: 1.25rem;
        }
      }
    }
  }
  /* Tablet */
  @media only screen and (min-width: @tablet) and (max-width: @computerBreakpoint) {
    .next-gp-header {
      h2 {
        font-size: @section-header-font-size-tablet;
      }
      h3 {
        font-size: @section-subheader-font-size-tablet;
      }
    }
    .next-gp-subheader {
      .next-gp-subheader-circuit-name {
        font-size: 1.25em;
      }
    }
    .next-gp-banner {
      .next-gp-season {
        height: 4.75rem;
        top: 0;
        margin: 0;
        padding: 0.5rem;

        .next-gp-season-title {
          font-size: 1.125rem;
        }

        .next-gp-season-year {
          font-size: 3rem;
          top: 0.5rem;
        }
      }
    }
    .next-gp-date {
      font-size: 1rem;
      padding: 0.125em;
    }
    .next-gp-content {
      margin: 0 0 0 0;

      .next-gp-stats {
        > h3 {
          font-size: 1.25rem;
        }
        h4 {
          font-size: 1rem;
        }
      }
    }
  }
  /* Small Monitor */
  @media only screen and (min-width: @computer) and (max-width: @largeMonitorBreakpoint) {
    .next-gp-header {
      h2 {
        font-size: @section-header-font-size-tablet;
      }
      h3 {
        font-size: @section-subheader-font-size-tablet;
      }
    }
    .next-gp-subheader {
      .next-gp-subheader-circuit-name {
        font-size: 1.25em;
      }
    }
    .next-gp-banner {
      .next-gp-season {
        height: 4.75rem;
        top: 0;
        margin: 0;
        padding: 0.5rem;

        .next-gp-season-title {
          font-size: 1.125rem;
        }

        .next-gp-season-year {
          font-size: 3rem;
          top: 0.5rem;
        }
      }
    }
    .next-gp-date {
      font-size: 1rem;
      padding: 0.125em;
    }
    .next-gp-content {
      .next-gp-stats {
        > h3 {
          font-size: 1.25rem;
        }
        h4 {
          font-size: 1rem;
        }
      }
    }
  }
  /* Widescreen Monitor */
  @media only screen and (min-width: @widescreenMonitor) {
    .next-gp-subheader {
      .next-gp-subheader-circuit-name {
        font-size: 2em;
      }
    }
    .next-gp-banner {
      .next-gp-season {
        height: 7rem;
        top: 0;
        margin: 0;
        padding: 0.75rem;

        .next-gp-season-title {
          font-size: 1.5rem;
        }

        .next-gp-season-year {
          font-size: 4.5rem;
          top: 1.5rem;
        }
      }
    }
    .next-gp-content {
      .next-gp-stats {
        > h3 {
          font-size: 2rem;
          padding: 0.25em 0; 
        }
        h4 {
          font-size: 1.5rem;
        }
      }
    }
  }
}
