@import 'variables.less';
.bg-country-abu-dhabi {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -135px -15px;
}
.bg-country-australia {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -375px -135px;
}
.bg-country-austria {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -15px -135px;
}
.bg-country-azerbaijan {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -135px -135px;
}
.bg-country-bahrain {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -255px -15px;
}
.bg-country-belgium {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -255px -135px;
}
.bg-country-brazil {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -15px -255px;
}
.bg-country-canada {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -135px -255px;
}
.bg-country-china {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -255px -255px;
}
.bg-country-spain {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -375px -15px;
}
.bg-country-france {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -14px -15px;
}
.bg-country-gbritain {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -375px -255px;
}
.bg-country-germany {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -15px -375px;
}
.bg-country-hungary {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -130px -375px;
}
.bg-country-italy {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -255px -375px;
}
.bg-country-japan {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -375px -375px;
}
.bg-country-mexico {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -495px -15px;
}
.bg-country-monaco {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -495px -135px;
}
.bg-country-russia {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -495px -255px;
}
.bg-country-singapore {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -495px -375px;
}
.bg-country-usa {
    background: url('/../../images/countries/countries_sprites_100w.jpg') -15px -495px;
}
