@import 'variables.less';
.bg-contest-class-gp {
    background: url('/../../images/icons_sprites_100w.jpg') -135px -15px;
}
.bg-contest-class-history {
      background: url('/../../images/icons_sprites_100w.jpg') -375px -255px;
}
.bg-contest-class {
    background: url('/../../images/icons_sprites_100w.jpg') -15px -130px;
}
.bg-contest-gprate {
    background: url('/../../images/icons_sprites_100w.jpg') -135px -135px;
}
.bg-contest-history {
    background: url('/../../images/icons_sprites_100w.jpg') -255px -15px;
}
.bg-contest-rate {
    background: url('/../../images/icons_sprites_100w.jpg') -255px -135px;
}
.bg-contest-register {
    background: url('/../../images/icons_sprites_100w.jpg') -15px -255px;
}
.bg-contest-regulations {
    background: url('/../../images/icons_sprites_100w.jpg') -135px -255px;
}
.bg-drivers-places {
    background: url('/../../images/icons_sprites_100w.jpg') -255px -255px;
}
.bg-drivers-points {
    background: url('/../../images/icons_sprites_100w.jpg') -375px -15px;
}
.bg-drivers-qual {
    background: url('/../../images/icons_sprites_100w.jpg') -375px -135px;
}
.bg-history-champs {
    background: url('/../../images/icons_sprites_100w.jpg') -15px -15px;
}
.bg-history-circuits {
    background: url('/../../images/icons_sprites_100w.jpg') -15px -375px;
}
.bg-history-drivers-records {
    background: url('/../../images/icons_sprites_100w.jpg') -135px -370px;
}
.bg-history-drivers {
    background: url('/../../images/icons_sprites_100w.jpg') -255px -375px;
}
.bg-history-gp {
    background: url('/../../images/icons_sprites_100w.jpg') -375px -375px;
}
.bg-history-gpseason {
    background: url('/../../images/icons_sprites_100w.jpg') -495px -15px;
}
.bg-history-teams-records {
    background: url('/../../images/icons_sprites_100w.jpg') -495px -130px;
}
.bg-history-teams {
    background: url('/../../images/icons_sprites_100w.jpg') -495px -255px;
}
.bg-teams-places {
    background: url('/../../images/icons_sprites_100w.jpg') -495px -375px;
}
.bg-teams-points {
    background: url('/../../images/icons_sprites_100w.jpg') -15px -495px;
}
.bg-teams-qual {
    background: url('/../../images/icons_sprites_100w.jpg') -135px -495px;
}
