.react-select-container {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0.125em 0;
}
.react-select-container-short {
  width: 100px;
  margin: 0.125em 0;
}
.react-select__group-heading {
  div {
    font-size: 1.25rem !important;
  }
}
.react-select__option {
  color: black !important;
}
.react-select__option--is-selected {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}
.react-select__option--is-focused {
  background-color: #ebdda7 !important;
  color: black !important;
}
