@max-resolution: 1920px;

@font-family: 'Saira Extra Condensed';
@font-family-header: 'Good Times Rg-Regular';
@font-size: 20px;
@font-weight: 300;
@font-color: #000;
@font-color-inverted: #fff;

@color-primary: #3a4045; //przyciski, trivia, tlo itemow end
@color-secondary: #ebdda7; // trivia hover, trivia value
@color-tertiary: #97a2a9; // tlo itemow
@color-quaternary: #d0d7db; // tlo boksa start
@color-quinary: #d1d1d1; // tlo menu start
@color-senary: #606a71; // tlo boksa end, tlo itemow start, tlo menu end
@color-septenary: #ebdda7; //section-banner-text, charts header 626155
@color-octal: #262626; //

@link-color: @font-color;
@link-active-color: #777;

@link-color-secondary: #000;
@link-active-color-secondary: #505050;

@border-color: @color-quinary;

@body-background: #3f3f3f;
@logo-background-primary: #db2828;
@logo-background-secondary: #262626;
@logo-background-tertiary: #606a71;

@header-color: #97a2a9;
@subheader-color: #FFFFFF;
@header-inverted-color: #030303;
@subheader-inverted-color: #626155;
@header-background-primary: #919ea7; // tlo naglowka menu start
@header-background-secondary: #5B656B; // tlo naglowka menu end
@header-background-tertiary: #262626; // box2
@header-background-quaternary: #a21e15; //czerwony
@header-background-quinary: #f5f5f5; //bardzo bardzo jasny szary
@header-background-senary: #ebdda7; // box1, box header
@header-background-septenary: #b5ab82; //jasny zolty
@header-background-octal: #3789c7;

@content-background-primary: #fff;

@divider-color: #70797f;

@marked-text-color: #a21e15;

/* Breakpoints */
@verySmallMobile: 240px; // very small phone
@smallMobile: 320px; // small phone
@mobile: 375px; // iphone 4, 5
@largeMobile: 425px; // iphone 6, 7, 8, X
@tablet: 768px; // ipad
@computer: 992px; // ipad pro, very small desktop
@largeMonitor: 1200px; // macbook air, small desktop, macbook pro
@widescreenMonitor: 1920px; // big desktop, imac

@smallMobileBreakpoint: 319px; // extra small phone
@mobileBreakpoint: 374px; // small phone
@largeMobileBreakpoint: 424px; // iphone 4, 5
@tabletBreakpoint: 767px; // iphone 6, 7, 8, X
@computerBreakpoint: 991px; // ipad
@largeMonitorBreakpoint: 1199px; // ipad pro, very small desktop
@wideScreenMonitorBreakpoint: 1919px; // big desktop, imac

@mobileLandscape: 480px; // iphone 4 landscape
@mediumMobileLandscape: 568px; // iphone 5 landscape
@largeMobileLandscape: 667px; // iphone 6, 7, 8 landscape
@veryLargeMobileLandscape: 736px; // iphone 6 plus landscape
@hugeMobileLandscape: 812px; // iphone X landscape

@mobileLandscapeBreakpoint: 479px; // small phone landscape
@mediumMobileLandscapeBreakpoint: 567px; // iphone 4 landscape
@largeMobileLandscapeBreakpoint: 666px; // iphone 5 landscape
@veryLargeMobileLandscapeBreakpoint: 735px; // iphone 6, 7, 8 landscape
@hugeMobileLandscapeBreakpoint: 811px; // iphone 6 plus landscape

@tabletHeight: 1024px;

/* Headers */
@header-height: 7.5rem;
@header-padding: 0.5rem 0;

/* Sections */
@section-header-height: 10vw;
@section-header-height-small-mobile: 35vw;
@section-header-height-mobile: 35vw;
@section-header-height-tablet: 15vw;
@section-header-height-widescreen: 7vw;

@section-header-font-size: 1.4rem;
@section-header-font-size-very-small-mobile: 1.25rem;
@section-header-font-size-small-mobile: 1.35rem;
@section-header-font-size-mobile: 1.5rem;
@section-header-font-size-tablet: 1.125rem;

@section-subheader-font-size: 1rem;
@section-subheader-font-size-very-small-mobile: 0.85rem;
@section-subheader-font-size-small-mobile: 1rem;
@section-subheader-font-size-mobile: 1.25rem;
@section-subheader-font-size-tablet: 0.85rem;

@section-subheader2-font-size: 1rem;
@section-subheader2-font-size-small-mobile: calc(
  @section-subheader2-font-size * 1.35
);
@section-subheader2-font-size-mobile: calc(@section-subheader2-font-size * 1.3);
@section-subheader2-font-size-tablet: calc(@section-subheader2-font-size * 1);

@button-font-size: 1.25rem;
@button-padding: 0 0.75rem;
@box-shadow: none;
