@import '../../styles/less/variables.less';
.gprates {
  td.exact-place {
    background: @header-background-quaternary !important;
    color: white !important;
  }
  td.top10 {
    background: @header-background-quinary !important;
    color: white !important;
  }
  div.exact{
    background: #db2828 !important;
  }
  div.top10{
    background: gray !important;
  }
  .send-date{
    font-size: 1rem;
  }
  a {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;

  }
}

@media only screen and (min-width: @verySmallMobile) and (max-width: @largeMonitorBreakpoint) { // iphone 4,5,6,7,8,X
  .gprates-mobile{
    display: block;
    i.icon {
      margin-right: -3px;
    }
  }
  .gprates-desktop{
    display: none;
  }
}
@media only screen and (min-width: @largeMonitor){ //mcbook air, pro,  desktop small
  .gprates-mobile{
    display: none;
  }
  .gprates-desktop{
    display: block;
  }
}
