@import "../../styles/less/variables.less";

// .champs-most-titles {
//   img {
//     height: fit-content;
//     width: 100%;
//   }
// }

.champs-list {
  .champs-drivers-container {
    background: @color-quaternary;
    padding-bottom: 1rem;

    .champs-drivers-header {
      background: @color-senary;
      padding: 0.5rem;
      font-size: 3.5rem;
    }
  }

  .champs-teams-container {
    background: @color-primary;
    padding-bottom: 1rem;

    .champs-teams-header {
      background: @color-septenary;
      padding: 0.5rem;
      font-size: 3.5rem;
    }
  }

  .champs-countries-container {
    background: @font-color-inverted;
    padding-bottom: 1rem;

    .champs-countries-header {
      background: @font-color-inverted;
      font-size: 3.5rem;
    }
  }
}
@media only screen and (min-width: @verySmallMobile) and (max-width: @tabletBreakpoint) {
  .champs-list {
    .champs-drivers-container {
      .champs-drivers-header {
        padding: 0.5rem;
        font-size: 1.5rem;
      }

      .champs-drivers {
        margin: 0.5rem;
        padding: 0;
      }
    }
    .champs-teams-container {
      .champs-teams-header {
        padding: 0.5rem;
        font-size: 1.5rem;
      }

      .champs-teams {
        margin: 0.5rem;
        padding: 0;
      }
    }
    .champs-countries-container {
      .champs-countries-header {
        padding: 0.5rem;
        font-size: 1.5rem;
        margin-right: 0;
      }

      .champs-countries {
        margin: 0.5rem;
        padding: 0;
      }
    }
  }
}
@media only screen and (min-width: @tablet) and (max-width: @largeMonitorBreakpoint) {
  .champs-list {
    .champs-drivers-container {
      margin-left: 0;

      .champs-drivers-header {
        padding: 0.5rem;
        font-size: 1.5rem;
        margin-left: 0;
      }

      .champs-drivers {
        margin: 0;
        padding: 0;
      }
    }
    .champs-teams-container {
      .champs-teams-header {
        padding: 0.5rem;
        font-size: 1.5rem;
      }

      .champs-teams {
        margin: 0;
        padding: 0;
      }
    }
    .champs-countries-container {
      .champs-countries-header {
        padding: 0.5rem;
        font-size: 1.5rem;
        margin-right: 3rem;
      }

      .champs-countries {
        margin: 0;
        padding: 0;
      }
    }
  }
}
